
.commonAccordionContainer{
  margin: 0 -55px 20px;
  padding: 20px 55px;
  @include transition();
  @include border-radius(66px);
  .accordionTitle{
    cursor: pointer;
    margin-bottom: 0px;
    position: relative;
    h4{
      @include transition();
      width: calc(100% - 30px);
      color: $lightBlue;
    }
    &:before{
      @include transition(all, 1s);
      @include font-awesome();
      content: "\f067";
      position: absolute;
      right: 0;
      color: $lightBlue;
      font-size: 24px;
    }
  }
  .accordionContent{
    @include transition();
    height: 0;
    overflow: hidden;
    @include all-color();
    p{
      font-size: 18px;
      font-weight: 400;
      &:last-child{
        margin-bottom: 0px;
      }
    }
    .buttonContainer a{
      color: $lightBlue;
    }

  }


  &.accordionActive{
    background-image: linear-gradient($lightBlue, $darkBlue);
    margin-bottom: 30px;
    padding: 50px 55px 40px;
    .accordionTitle {
      margin-bottom: 30px;
      h4{
        color: $white;
      }
      &:before{
        content: "\f068";
        color: $white;
      }
    }
    .accordionContent{
      height: auto;
      opacity: 1;
      @include transition();
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .commonAccordionContainer{
    margin: 0 -40px 20px;
    padding: 20px 40px;
    &.accordionActive{
      padding: 40px 40px 40px;
      .accordionTitle{
        margin-bottom: 20px;
      }
    }
    .accordionContent {
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .commonAccordionContainer{
    margin: 0 -30px 15px;
    padding: 15px 30px;
    &.accordionActive{
      padding: 40px 30px 40px;
    }
  }

}