
.appointmentPageContainer{

  @include width-center(1370px, 0 30px 50px);
  margin-bottom: 60px;
  .appointmentPageContainer__wrapper{
    position: relative;
    width: 100%;
    background: $white;
    min-height: 600px;
    @include border-radius(120px);
    @include shadow-outer();
    padding: 80px 20% 80px 100px;

    @media screen and (max-width: $responsive-1024){
      padding: 80px 80px;
    }
    @media screen and (max-width: $responsive-600){
      padding: 80px 40px;
    }


    .appointmentForm{
      @include width-center(860px, 0 30px 0px);
      margin: 0 0px;
    }

  }
}