
.singlePostHeader{
  .singlePostHeader__content{
    @include width-center(100%, 100px 100px 180px);
    @media screen and (max-width: $responsive-1280){
      @include width-center(100%, 100px 50px 180px);
    }
    background-image: linear-gradient( $lightBlue, $darkBlue);
    //text-align: center;
    @include all-color();

    .singlePostHeader__wrapper{
      @include flex(flex, row, wrap, ai_center);
      .singlePostHeader--title{
        width: 60%;
        padding-right: 100px;
        @media screen and (max-width: $responsive-1280){
          padding-right: 50px;
        }
      }
      .singlePostHeader--img{
        width: 40%;
        height: 355px;
        @media screen and (max-width: $responsive-1440){
          height: 305px;
        }
        @media screen and (max-width: $responsive-1280){
          height: 305px;
        }
        @include border-radius(80px);
        @include bg-cover;
      }
    }


    h1,h2,h3,h4,h5,h6,p{
      max-width: 1024px;
      margin: 0 auto;
    }
  }


}

@media screen and (max-width: $responsive-1024){

  .singlePostHeader .singlePostHeader__content {
    padding: 50px 50px 130px;
    .singlePostHeader__wrapper {
      .singlePostHeader--title{
          h1{
            font-size: 36px;
          }
      }
      .singlePostHeader--img{
        height: 260px;
      }
    }
  }


}


@media screen and (max-width: $responsive-960){

  .singlePostHeader .singlePostHeader__content {
    padding: 50px 50px 130px;
    .singlePostHeader__wrapper {
      .singlePostHeader--title{
        order: 2;
        width: 100%;
        text-align: center;
        h1{
          font-size: 36px;
        }
      }
      .singlePostHeader--img{
        width: 100%;
        order: 1;
        height: 320px;

        max-width: 600px;
        margin: 0 auto 15px;
      }
    }
  }


}



@media screen and (max-width: $responsive-760){

  .singlePostHeader .singlePostHeader__content {
    //padding: 50px 50px 130px;
    .singlePostHeader__wrapper {
      .singlePostHeader--title{
        h1{
          font-size: 30px;
        }
      }
      .singlePostHeader--img{
        height: 290px;
      }
    }
  }


}


.blog-section {
  .blog-wrapper {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0px 60px 0;
    @media screen and (max-width: 640px) {
      padding: 0px 20px 0;
    }
    margin-top: 60px;


    .blogCategorySelector{
      width: 100%;
      padding: 0 40px;
      margin-bottom: 30px;
      @include flex(flex, row, wrap, jc_end);
      select{
        height: auto;
        outline: none;
        padding: 12px 20px;
        border: none;
        border-bottom: 1px solid $grey1;
        font-size: 18px;
        font-weight: 500;
        color: $lightBlue;
        border: 1px solid $lightBlue;
        @include shadow-outer();
        //width: 100%;
      }
    }

    .blog-flex {
      display:flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      @media screen and (min-width: 860px){
        padding-left: 40px;
      }

      .blog-listing {
        box-shadow: 0px 35px 50px -35px rgba(0,0,0,0.5);
        width: 31%;
        @media screen and (max-width:1470px){
          width: 30%;
        }
        margin: 0 30px 115px 0px;
        background:white;
        border-radius: 30px;
        @media screen and (max-width:1366px){
          width: 42%;
          margin-bottom: 115px;
        }
        @media screen and (max-width:1200px){
          width: 45%;
          margin-bottom: 115px;
        }
        @media screen and (max-width: 860px) {
          width: 100%;
          margin-bottom: 80px;
        }
        .blog-img {
          position: relative;
          width: 100%;
          height: 320px;
          border-radius: 20px 20px 0px 0px;
          overflow: hidden;
          border-width: 0px;

          a {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor:pointer;
            z-index: 999;
          }
        }
        .blog-cat {
          padding-top: 40px;
          padding-bottom: 15px;
          padding-left: 20px;

        }
        .blog-cat, .blog-date {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.16em;
          color: grey;
          @media screen and (max-width: 1420px) {
            font-size: 12px;
          }
        }
        .blog-categories{
          margin-top: 15px;
          padding: 0 20px;
          span{
            color: $lightBlue;
          }
          a{
            color: $lightBlue;
            font-weight: 600;
            line-height: 26px;
            @include transition();
            &:hover{
              color: $darkBlue;
            }
          }
        }
        .blog-title {
          margin-top: 15px;
          padding-left: 20px;
          min-height: 90px;
          height: 90px;
          padding-top: 20px;
          display:flex;
          justify-content: flex-start;
          align-items: center;
          h3 {
            font-size: 25px;
            padding-bottom: 22px;
          }
        }
        .blog-date {
          padding-bottom: 20px;
          padding-left: 20px;

        }
        .blog-excerpt {
          padding-left: 20px;
          padding-right: 20px;

        }
        .buttonContainer{
          display:flex;
          justify-content: flex-start;
          padding: 30px 0px 30px 20px;
          a{
            padding: 15px 23px;
          }
        }
      }

    }
    .gp-pagination{
      display:flex;
      justify-content: center;
      span,a{
        margin-right: 20px;
        font-size: 28px;
        &:hover{
          color:$orange;

        }
      }
      .current{
        color: $orange;
      }
    }
  }
}


.single-post{
    .top-wrapper{
      width: 100%;
      height: 300px;
      background-image: linear-gradient(#05aee6, #091d7d);
      display:flex;
      color:white;
      justify-content: center;
      align-items: center;
      position: relative;
      .title-white{
        font-size: 4rem;
        color:white !important;
        width: 75%;
        margin: 20px auto;
      }

      margin-bottom: 100px;
    }

  #post-content{

  }

    .post{
      position: relative;
      text-align: left;
      width: 80%;
      padding: 80px;
      min-height:400px;
      box-shadow: 0px 35px 50px -35px rgba(0,0,0,0.5);
      margin: 0 auto;
      margin-top: -145px;
      @media screen and (max-width: $responsive-1024){
        margin-top: -80px;
      }
      padding-top: 50px;
      background: white;
      border-top-left-radius: 120px;
      border-top-right-radius: 120px;
      p{
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 35px;
        font-weight: 500;
        color: #222222;
      }
    }
}