
.careerContainer{

  @include width-center(1700px, 0 30px 50px);
  margin-bottom: 60px;
  .careerContainer__wrapper{
    @include flex(flex, row, wrap);

    .careerLeftSection{
      position: relative;
      width: 450px;
      margin-top: 80px;
      .careerLeftSection--menu{
        position: relative;
        z-index: -1;
        width: calc(100% + 10px);
        top: 1px;
        background: $white;
        padding: 60px 50px 40px ;
        @include shadow-outer();
        @include transition(all, 0.2s);
        @include border-radius-left(90px);

        p{
          line-height: 135%;
        }

        form{
          label{
            font-weight: 600;
            color: $lightBlue;
            color: $black;
          }
          & input[type=text],
          & input[type=number],
          & input[type=email],
          & input[type=tel],
          & input[type=password],
          & select,
          & textarea {
            padding: 5px 0;
            font-size: 16px;
            font-weight: 500;
            color: $black;
            border-bottom: 2px solid $lightBlue;
            border-bottom: 2px solid $black;
          }
          & input[type=submit]{
            @include round-button(yellow);
            border: none;
            cursor: pointer;
            min-width: 160px;
            padding: 20px 33px;
            outline: none;
          }

        }

      }
    }
    .careerRightSection{
      position: relative;
      width: calc(100% - 450px);
      background: $white;
      min-height: 1000px;
      @include border-radius(120px);
      @include shadow-outer();
      .careerRightSection--inner{
        padding: 80px 110px;
        padding: 40px 60px;
        .careerCategoryContainer{
          padding : 40px 50px;
          //border-bottom: 2px solid $grey4;
          h3{
            font-weight: 300;
            margin-bottom: 30px;
          }
          &:last-child{
            border-bottom: none;
          }

          .commonAccordionContainer{
            margin-bottom: 40px;
          }

          .commonAccordionContainer:not(.accordionActive){
            border: 2px solid $lightBlue;
            @include transition();
          }


        }
      }
    }
  }
}



@media screen and (max-width: $responsive-1280){

  .careerContainer {
    .careerContainer__wrapper {
      .careerLeftSection {
        width: 360px;
        .careerLeftSection--menu{
          padding: 40px 20px 40px 40px;
        }
      }
      .careerRightSection{
        width: calc(100% - 360px);
        .careerRightSection--inner{
          padding: 30px 40px;
          .faqCategoryContainer{

          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-960){

  .careerContainer {
    .careerContainer__wrapper {
      .careerLeftSection {
        width: 100%;
        @include width-center(600px, 0 40px 40px);
        .careerLeftSection--menu{
          //padding: 40px 20px 40px 40px;
          @include border-radius-right(90px);
        }
      }
      .careerRightSection{
        width: 100%;
        min-height: 1px;
        .careerRightSection--inner{
          padding: 30px 30px;
          .faqCategoryContainer{

          }
        }
      }
    }
  }

}