//this is if we want to dynamicall add our styles to something external like a plugin

.entry-content{
  //Fonts
  .whiteFont{
    color: $white;
  }
  .blackFont{
    color: $black;
  }
  .blueFont{
    color: $lightBlue;
  }

  .semiBoldFont{
    font-weight: 600;
  }
  .boldFont{
    font-weight: 700;
  }


  .page{
    width: 100%;
    //overflow-x: hidden;
  }

  //ul style
  ul,li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  strong,b{
    font-weight: 700;
  }




  h1,h2,h3,h4,h5,h6,label{
    @include font-montserrat();
    strong,
    strong span{
      font-weight: 700;
      color: inherit;
    }
  }



  p,label{
    @include font-percentage(16px,30px);
    margin-bottom: 20px;
    @media screen and (max-width: $responsive-1024){
      @include font-percentage(16px,26px);
    }
  }



  h1, h1 span, h1 strong{
    @include font-percentage(56px, 110%);
    margin-bottom: 20px;
    @media screen and (max-width: $responsive-1280){
      @include font-percentage(46px, 110%);
    }
    @media screen and (max-width: $responsive-760){
      @include font-percentage(36px, 110%);
    }
  }


  h2, h2 span, h2 strong{
    @include font-percentage(43px, 110%);
    margin-bottom: 20px;
    @media screen and (max-width: $responsive-1280){
      @include font-percentage(38px, 110%);
    }
    @media screen and (max-width: $responsive-760){
      @include font-percentage(32px, 110%);
    }
  }


  h3, h3 span, h3 strong{
    @include font-percentage(35px, 110%);
    margin-bottom: 20px;
    @media screen and (max-width: $responsive-1280){
      @include font-percentage(27px, 110%);
    }
    @media screen and (max-width: $responsive-760){
      @include font-percentage(24px, 110%);
    }
    @media screen and (max-width: $responsive-650){
      @include font-percentage(20px, 110%);
    }
  }


  h4, h4 span, h4 strong{
    font-weight: 700;
    @include font-percentage(22px, 110%);
    @media screen and (max-width: $responsive-1280){
      @include font-percentage(20px, 110%);
    }
    @media screen and (max-width: $responsive-650){
      @include font-percentage(18px, 110%);
    }
  }
}