
.faqContainer{

  @include width-center(1700px, 0 30px 50px);
  margin-bottom: 60px;
  .faqContainer__wrapper{
    @include flex(flex, row, wrap);

    .faqLeftSection{
      position: relative;
      width: 325px;
      margin-top: 80px;
      .faqLeftSection--menu{
        position: absolute;
        z-index: -1;
        width: calc(100% + 10px);
        top: 1px;
        background: $white;
        padding: 80px 20px 80px 50px;
        @include shadow-outer();
        //@include transition(all, 0.2s);
        @include border-radius-left(90px);
        ul{
          li{
            padding: 18px 0;
            a{
              font-size: 20px;
              font-weight: 700;
              color: $lightBlue;
              @include transition();
              &:hover{
                color: $darkBlue;
              }
            }
          }
        }
      }
    }
    .faqRightSection{
      position: relative;
      width: calc(100% - 325px);
      background: $white;
      min-height: 600px;
      @include border-radius(120px);
      @include shadow-outer();
      .faqRightSection--inner{
        padding: 80px 110px;
        padding: 40px 60px;
        .faqCategoryContainer{
          padding : 40px 50px;
          border-bottom: 2px solid $grey4;
          h3{
            font-weight: 300;
            margin-bottom: 30px;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
}



@media screen and (max-width: $responsive-1024){

  .faqContainer {
    .faqContainer__wrapper {
      .faqLeftSection {
        width: 260px;
        .faqLeftSection--menu{
          padding: 40px 20px 40px 40px;
          ul{
            li{
              padding: 15px 0;
              a{
                font-size: 16px;
              }
            }
          }
        }
      }
      .faqRightSection{
        width: calc(100% - 260px);
        .faqRightSection--inner{
          padding: 30px 40px;
          .faqCategoryContainer{

          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-960){


  .faqContainer {
    .faqContainer__wrapper {
      .faqLeftSection {
        display: none;
      }
      .faqRightSection{
        width: 100%;
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .faqContainer {
    .faqContainer__wrapper {
      .faqRightSection {
        .faqRightSection--inner {
          padding: 30px 30px;
          .faqCategoryContainer{
            padding: 30px 40px;
            h3{
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

}