
footer{
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 60px ;
  padding: 0 85px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $responsive-1580){
    padding: 0 40px;
  }

  .footerOuterContainer__before{
    width: 100%;
    position: relative;
    .non-footer-form {
      position: relative;
      border-radius: 140px;
      .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        border-radius: 140px;
        z-index: 50;
      }
      .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(#05aee6, #091d7d);
        border-radius: 140px;
        opacity: 0.8;
        z-index: 100;
      }
      .footerTopContainer {
        position: relative;
        z-index: 400;
        .footerContent__left {
          .menu {
            display: none;
          }
        }
        .footerContent__right {
          .footerContent__right--box {
            padding: 40px 60px 20px;
          }
          .footerFormContainer {
            .wpforms-container {
              .wpforms-form {
                .wpforms-field-container {
                  .wpforms-field {
                    padding-left: 0 !important;
                    &::before {
                      display: none;
                    }
                  }
                  .wpforms-field-row {
                    max-width: 100%;
                  }
                  input, select {
                    max-width: 100%;
                    padding: 7px 0;
                  }
                  input[type="tel"] {
                    padding-left: 0;
                  }
                  textarea {
                    height: 50px;
                    padding: 7px 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    &:before{
      z-index: -1;
      content: "";
      @include posa();
      top: -40px;
      width: calc(100% - 200px);
      border-top-left-radius: 140px;
      border-top-right-radius: 140px;
      background-image: linear-gradient($lightBlue, $darkBlue);
      opacity: 0.5;
      margin: 0 auto;
      right: 0;
    }
    .footerOuterContainer{
      position: relative;
      min-height: 500px;
      border-top-left-radius: 140px;
      border-top-right-radius: 140px;
      background-image: linear-gradient($lightBlue, $darkBlue);
      padding: 50px 0 25px;
      .footerTopContainer{
        //padding: 50px 0 10px;
      }
    }



    .footerBottomContainer{
      padding: 20px 30px 0;
      text-align: center;
      //overflow: hidden;
      .footerMenu{
        margin-bottom: 30px;
        ul{
          @include flex(flex, row, wrap, ai_center, jc_center);
          li{
            padding: 0 27px;
            a{
              text-transform: uppercase;
              color: $white;
              font-weight: 600;
            }
          }
        }
      }
      .footerSignature{
        text-align: center;
        p{
          font-size: 14px;
          color: $white;
          line-height: 21px;
          margin-bottom: 0px;
          &:nth-child(2), a{
            color: $white;
            font-size: 10px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: $responsive-1366){

  footer {
    .footerOuterContainer__before {
      .footerOuterContainer{
        .centerPanelContainer {
          .centerPanel{
            padding: 40px 70px;
          }
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-1100){

  footer {
    .footerOuterContainer__before {
      .footerOuterContainer{
        .centerPanelContainer {
          .centerPanel{
            padding: 40px 108px;
          }
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-840){

  footer {
    .footerOuterContainer__before {
      .footerOuterContainer{
        padding: 20px 0 25px;
        .centerPanelContainer {
          .centerPanel{
            padding: 40px 70px;
          }
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-700){

  footer {
    padding: 0px;
    .footerOuterContainer__before {
      &:before{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      .footerOuterContainer{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        .centerPanelContainer {
          .centerPanel{
            padding: 40px 32px;
          }
        }
      }
    }
  }


}


@media screen and (max-width: $responsive-600){

  footer {
    .footerOuterContainer__before {
      .footerBottomContainer {
        .footerMenu {
          ul {
            li {
              padding: 0 13px;
              a{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

}

