form,
.form,
.pageWrapper .wpforms-container .wpforms-form{
  & input[type=text],
  & input[type=number],
  & input[type=email],
  & input[type=tel],
  & input[type=password],
  & select,
  & textarea {
    height: auto;
    padding: 12px 0px;
    border: none;
    border-bottom: 3px solid $grey1;
    font-size: 20px;
    font-weight: 600;
    color: $grey1;
    width: 100%;
    &:not([type="submit"]):not(.demi) {
      //width: 100%;
    }
    &:focus {
      outline: none;
    }
  }

  input{
    &::placeholder {
      color: $grey1;
    }
  }

  .field-flex-wrapper{
    //@include width-center(800px, 0px);
    @include flex(flex, row, wrap);
    margin: 0 -20px 25px;
    //margin-bottom: 25px;
    .field-flex-wrapper__inner{
      padding: 0 20px;
      width: 50%;
    }
  }

  & .input-wrapper,
  & .select-wrapper,
  & .button-wrapper {
    & + .input-wrapper,
    & + .select-wrapper,
    & + .button-wrapper {
      margin-top: 25px;
    }

    &.input-flex-wrapper{
      @include flex(flex, row, nowrap, ai_center);
      .f-icon{
        width: 45px;
        i{
          font-size: 28px;
          color: $grey1;
          font-weight: 400;
        }
      }
      & input,
      & select,
      & textarea,
      p {
        width: calc(100% - 45px);
        & input,
        & select,
        & textarea{
          width: 100%;
        }
      }

      input[type=submit]{
        cursor: pointer;
        @include round-button(yellow);
        border: none;
        width: auto;
        min-width: 235px;
        margin: 0 auto;
        &:focus {
          outline: none;
        }
        &.alignleft{
          margin-left: 0px;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  & .button-wrapper {
      margin-top: 40px !important;
  }

  & .select-wrapper{
    position: relative;
    select{
      width: calc(100% - 45px);
      -webkit-appearance: none;
      background-color: white;
      border-radius: 0;
      cursor: pointer;
    }
    &:after{
      content: "\f078" ;
      @include font-awesome();
      font-weight: 500;
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 15px;
      font-size: 16px;
      color: $grey1;
    }
  }


  & .wpforms-field{
    &.input-wrapper-black{

      &:before{
        @include all-color($black);
        color: $black;
      }

      @include all-color($black);
      .f-icon{
        i{
          color: $black;
        }
      }
      input, select{
        color: $black;
        border-bottom: 3px solid $black;
        &::placeholder {
          color: $black;
        }
      }

      &.select-wrapper{
        &:after{
          color: $black;
        }
      }
    }

    &.input-wrapper-blue{
      &:before{
        @include all-color($lightBlue);
        color: $lightBlue;
      }


      @include all-color($lightBlue);
      .f-icon{
        i{
          color: $lightBlue;
        }
      }
      input, select{
        color: $lightBlue;
        border-bottom: 3px solid $lightBlue;
        &::placeholder {
          color: $lightBlue;
        }
      }
      &.select-wrapper{
        &:after{
          color: $lightBlue;
        }
      }
    }
  }

}


//Footer Form
body footer,
.appointmentForm{
  &.wpforms-container,
  .wpforms-container{
      width: 100%;
      padding: 0px 0px 0 !important;
      @media screen and (max-width: $responsive-760){
        padding: 0px 0 !important;
      }
      //margin-top: 10px;
      position: relative;



      .wpforms-field{
        padding-left: 45px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        position: relative !important;
        &:before{
          content: "\f303";
          position: absolute;
          left: 0;
          @include font-awesome();
          font-size: 28px;
          color: $grey1;
          font-weight: 400;
          left: 0px;
          top: 20px;
        }

        &.wpforms-field-email{
          &:before{
            content: "\f1fa";
          }
        }
        &.wpforms-field-phone{
          &:before{
            content: "\f095";
          }
        }
        &.wpforms-field-extradetails{
          &:before{
            content: "\f4b6";
          }
        }

        &.wpforms-field-date-time{
          &:before{
            content: "\f073";
          }
        }

        &.wpforms-field-location{
          &:before{
            content: "\f3c5";
          }
        }

        &.wpforms-field-newtodawson{
          &:before{
            content: "\f059";
          }
        }

        &.wpforms-field-treatmenttype{
          &:before{
            content: "\f5c9";
          }
        }





        &.wpforms-field-left{
          clear: none !important;
          margin-left: 4% !important;

        }
        &.wpforms-field-html{
          padding-left: 0px !important;
          &:before{
            display: none;
          }
          h3{
            font-size: 34px;
            @media screen and (max-width: $responsive-840){
              font-size: 26px;
            }
          }
        }
      }

      .wpforms-submit-container{
        //background: red;
        margin-top: 10px;
        text-align: center;
        .footer-form-button,
        button.wpforms-submit {
          @include round-button(yellow);
          border: none !important;
          min-width: 235px;
        }
      }

    }

}

.appointmentForm{
  &.wpforms-container{
    .wpforms-submit-container{
      text-align: left;
    }
  }
}


@media screen and (max-width: $responsive-840){

  .appointmentForm{
    &.wpforms-container{
      .wpforms-field,
      .wpforms-field.wpforms-field-left{
        width: 100% !important;
        margin-left: 0px !important;
      }
    }
  }
}


@media screen and (max-width: $responsive-840){

  .appointmentForm{
    &.wpforms-container{
      .wpforms-field{
          overflow-x: visible !important;
      }
    }
  }
}



//Bookly
.page{
  .bookly-form {
    input[type="text"],input[type="number"],input[type="password"],textarea,select{
      padding: 10px 11px 9px !important
    }

    .ladda-button{
      //@include round-button();
    }
  }

  .bookly-progress-tracker {
    > div{
      padding-left: 8px;
    }
    .step{
      height: 20px;
    }
  }
}