//Fonts
.whiteFont{
  color: $white;
}
.blackFont{
  color: $black;
}
.blueFont{
  color: $lightBlue;
}

.semiBoldFont{
  font-weight: 600;
}
.boldFont{
  font-weight: 700;
}


.hidden{
  display: none;
}
.hidden-height{
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.page{
  width: 100%;
  //overflow-x: hidden;
}

//ul style
ul.menu,
ul.sub-menu,
.faqLeftSection--menu ul,
.woocommerce-MyAccount-navigation ul{
  list-style: none;
}

.listStyle__check{
  ul{
    position: relative;
    list-style: none;
    li{
      &:before{
        content: '✓';
        position: absolute;
        left: 0px;
      }
    }
  }
}

.pageContentWrapper{
  ul{
    padding-left: 20px;
    li{
      margin-bottom: 15px;
      line-height: 150%;
    }
  }
}

a{
  text-decoration: none;
}

strong,b{
  font-weight: 700;
}




h1,h2,h3,h4,h5,h6{
  @include font-montserrat();
  strong,
  strong span{
    font-weight: 700;
    color: inherit;
  }
}



p{
  @include font-percentage(17px,30px);
  margin-bottom: 20px;
  @media screen and (max-width: $responsive-1024){
    @include font-percentage(16px,26px);
  }
}

p{
  span{
    strong{
      color: inherit;
    }
  }
}


h1, h1 span, h1 strong{
  @include font-percentage(56px, 110%);
  margin-bottom: 20px;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(46px, 110%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(36px, 110%);
    margin-bottom: 10px;
  }
}


h2, h2 span, h2 strong{
  @include font-percentage(43px, 110%);
  margin-bottom: 20px;
  //background-image: none !important;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(38px, 110%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(32px, 110%);
    margin-bottom: 10px;
  }
}


h3, h3 span, h3 strong{
  @include font-percentage(35px, 115%);
  margin-bottom: 20px;
  color: inherit;
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(27px, 110%);
  }
  @media screen and (max-width: $responsive-760){
    @include font-percentage(24px, 110%);
    margin-bottom: 10px;
  }
  @media screen and (max-width: $responsive-650){
    @include font-percentage(20px, 110%);
  }
}


h4, h4 span, h4 strong{
  font-weight: 700;
  @include font-percentage(22px, 110%);
  @media screen and (max-width: $responsive-1280){
    @include font-percentage(20px, 110%);
  }
  @media screen and (max-width: $responsive-650){
    @include font-percentage(18px, 110%);
  }
}



h6, h6 span, h6 strong{
  font-weight: 700;
  margin-bottom: 15px;
  @include font-percentage(20px, 120%);
  @media screen and (max-width: $responsive-1024){
    @include font-percentage(18px, 120%);
  }
}

.alignright{
  float: right;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}

.alignleft{
  float: left;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}

.align_center{
  text-align: center;
}



.mt-10{margin-top: 10px !important;}
.mt-20{margin-top: 20px !important;}
.mt-30{margin-top: 30px !important;}
.mt-40{margin-top: 40px !important;}
.mt-50{margin-top: 50px !important;}

.mb-10{margin-bottom: 10px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-30{margin-bottom: 30px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-50{margin-bottom: 50px !important;}


.margin-top-125{
  margin-top: -125px !important;
  @media screen and (max-width: $responsive-1024){
    margin-top: -75px !important;
  }
}






//slick slider default update

.slick-prev,
.slick-next{
  height: 40px;
  &:before{
    @include font-awesome();
    color: $lightBlue;
    font-size: 40px;
  }
}

.slick-prev{
  left: -45px;
  &:before{
    content: '\f0d9';
  }
}

.slick-next{
  right: -45px;
  &:before{
    content: '\f0da';
  }
}

.slick-dots {
  bottom: -50px;
  li {
    margin: 0 3px;
    width: 90px;
    button{
      width: 100%;
      &:before{
        @include transition();
        background-image: linear-gradient(to right, $grey2, $grey2);
        width: 100%;
        content: "";
        opacity: 1;
        height: 14px;
      }
    }

    &:hover,
    &.slick-active{
      button{
        &:before{
          opacity: 1;
          @include transition();
          background-image: linear-gradient(to right, $darkBlue, $lightBlue);
        }
      }
    }
  }
}


// ************************************************
//              .BACKGROUND-IMAGE
// ************************************************
.background-image{
  // we sometimes use a div here which allows setting inline styles for overlay opacity via shortcode attributes
  > .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: @textDark;
    opacity: .7;
  }
  &.standard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}