
header{
  position: relative;
  width: 100%;
  z-index: 1;
  @include transition(all, 0.9s);
  @include shadow-bottom();
    .headerTop{
      width: 100%;
      background: $black2;
      padding: 13px 40px;
      @include transition(all, 0.5s);
      .headerTop__wrapper{
        @include flex(flex, row, nowrap, ai_center, jc_end);
        .headerTop__menu{
            ul{
              @include flex(flex, row, nowrap, ai_center);
              li{
                padding: 0 20px;
                a{
                  text-transform: uppercase;
                  color: $lightBlue;
                  font-weight: 600;
                  @include transition();
                  &:hover{
                    color: $white;
                  }
                }

                &.orange{
                  border-left: 2px solid $white;
                  a{
                    color: $orange;
                    @include transition();
                    &:hover{
                      color: $white;
                    }
                  }
                }
                &:first-child{
                  padding-left: 0px;
                }
              }
            }
        }

        .headerTop__phone{
          @include flex(flex, row, nowrap, ai_center);
          padding: 0 20px;
          p,a{
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 0px;
          }
          .blueFont{
            padding-left: 10px;
            font-size: 20px;
          }
        }

        .headerTop__social-icons{
          padding-left: 13px;
          ul{
            @include flex(flex, row, nowrap, ai_center);
            li{
              padding: 0 7px;
              i{
                color: $white;
                @include transition();
                &:hover{
                  color: $lightBlue;
                }
              }
              &:last-child{
                padding-right: 0px;
              }
            }
          }
        }

      }
    }

    .headerMain{
      background: $white;
      padding: 20px 40px;
      @include transition(all, 0.5s);

      .headerMain__wrapper{
        @include flex(flex, row, nowrap,ai_center,  jc_space_between);
        .headerMain__left{
          width: 207px;
          img{
            max-width: 100%;
          }
        }
        .headerMain__right{
          @include flex(flex, row, wrap, ai_center);
          ul.menu{
            @include flex(flex, row, nowrap, ai_center);
            li{
              padding: 0 22px;
              padding: 40px 22px;
              a{
                font-weight: 700;
                text-transform: uppercase;
                padding: 40px 0;
                color: $black;
                @include transition();
                &:hover{
                  color: $lightBlue;
                }
                span{
                  font-weight: 700;
                  color: $red;
                }
              }
              &:last-child{
                padding-left: 5px;
                padding-right: 0px;
              }


              .sub-menu{
                opacity: 0;
                height: 0px;
                position: absolute;
                a{
                  padding: 0px;
                }
              }

              &.regular-submenu{
                position: relative;
                .sub-menu{
                  @include shadow-bottom-menus();
                  width: 350px;
                  top: 100%;
                  left: -15px;
                  overflow: hidden;
                  background: $white;
                  padding: 20px 0 10px;
                  @include transition();
                  li {
                    padding: 13px 12px 13px 40px;
                    a{
                      color: $black;
                      font-size: 14px;
                      @include transition();
                      &:hover{
                        color:  $lightBlue;
                      }
                    }
                  }
                }
                &:hover{
                  .sub-menu{
                    padding: 20px 0;
                    opacity: 1;
                    height: auto;
                  }
                }
              }

              //Location Menu
              &.full-width-submenu{
                position: static;
                .sub-menu{
                  @include shadow-bottom-menus();
                  opacity: 0;
                  height: 0px;
                  position: absolute;
                  top: 100%;
                  top: 165px;
                  @media screen and (max-width: $responsive-1650){
                    top: 155px;
                  }
                  @media screen and (max-width: $responsive-1440){
                    top: 145px;
                  }
                  left: 0;
                  background: $white;
                  //background-image: linear-gradient( rgba(5, 174, 230, 1), rgba(9, 29, 125, 1));
                  width: 100%;
                  @include transition();
                  @include flex(flex, row, wrap, jc_flex_start);
                  padding: 0 10%;
                  overflow: hidden;
                  li{
                    width: 33.33%;
                    padding: 10px 12px;
                    a{
                      color: $black;
                      font-size: 14px;
                      @include transition();
                      &:hover{
                        color:  $lightBlue;
                      }
                    }
                  }
                }

                &:hover{
                  .sub-menu{
                    padding: 35px 10%;
                    opacity: 1;
                    height: auto;
                  }
                }

              }

              //Our Services Menu
              &.full-width-header-submenu{
                position: static;
               > .sub-menu{
                 @include shadow-bottom-menus();
                  opacity: 0;
                  height: 0px;
                  max-height: 600px;
                  position: absolute;
                  top: 100%;
                 top: 165px;
                 @media screen and (max-width: $responsive-1650){
                   top: 155px;
                 }
                 @media screen and (max-width: $responsive-1440){
                   top: 145px;
                 }
                  left: 0;
                  background: $white;
                  //background-image: linear-gradient( rgba(5, 174, 230, 1), rgba(9, 29, 125, 1));
                  width: 100%;
                  @include transition();
                  @include flex(flex, column, wrap, jc_flex_start);
                  padding: 0 10%;
                  overflow: hidden;
                  li{
                    width: 33.33%;
                    padding: 20px 12px 10px;
                    margin-bottom: 15px;
                    a{
                      color: $lightBlue;
                      font-size: 16px;
                      @include transition();
                      &:hover{
                        color:  $darkBlue;
                      }
                    }
                  }


                  .sub-menu{
                    opacity: 1;
                    height: auto;
                    position: relative;
                    margin-top: 10px;
                    li{
                      width: 100%;
                      padding: 6px 0;
                      margin-bottom: 0px;
                      a{
                        color: $black;
                        font-size: 13px;
                        @include transition();
                        &:hover{
                          color:  $lightBlue;
                        }
                      }
                    }
                  }
                }

                &:hover{
                 > .sub-menu{
                    padding: 25px 10%;
                    opacity: 1;
                    height: auto;
                  }
                }

              }





            }
            .blue-button{
              padding-left: 40px;
              a{
                @include round-button(blue);
              }
            }




          }

          .headerMain__mobile{

            display: none;
            width: 32px;
            height: 32px;
            position: relative;
            margin-left: 40px;
            cursor: pointer;
            span{
              position: relative;
              width: 100%;
              height: 6px;
              margin-bottom: 6px;
              background: #00d082;
              background-image: linear-gradient(to right, $darkBlue,  $lightBlue );
              @include border-radius(3px);
              @include transition();
              &:nth-child(2){
                width: 20px;
              }
              &:last-child{
                margin-bottom: 0px;
              }
            }

            &:hover{
              span{
                &:nth-child(2){
                  width: 100%;
                }
              }
            }

          }
        }

      }
    }


  &.static-header{
    position: fixed;
    z-index: 99;
    top: -300px;
    @include transition(all, 0.9s);

    &.show-static-header{
      @include transition(all, 0.9s);
      top: 0px;
    }



    .headerMain{
      padding: 13px 30px;
      //background: rgba(255, 255, 255, 0.9);
      .headerMain__wrapper {
        .headerMain__left{
          width: 140px;
        }

        .headerMain__right {
          ul.menu{
            .blue-button {
              a{
                padding: 20px 33px;
              }
            }

            li{
              //padding: 30px 22px;
              &.full-width-header-submenu,
              &.full-width-submenu {
               > .sub-menu{
                  top: 150px;
                  @media screen and (max-width: $responsive-1650){
                    top: 130px;
                  }
                }
              }
            }

          }
        }

      }

    }



  }

}


.blank-header{
  position: relative;
  width: 100%;
  &.show-blank-header{
    height: 194px;
  }


}


.pageWrapper{
  background: repeat fixed 0 0 / cover;
}



@media screen and (max-width: $responsive-1870){

  header {
    .headerTop{
      padding: 13px 30px;
    }
    .headerMain{
      padding: 25px 30px;
      .headerMain__wrapper {
        .headerMain__left{
            width: 150px;
        }

        .headerMain__right {
          ul.menu{
            li {
              a{
                font-size: 14px;
                span{
                  font-size: 14px;
                }

              }
            }
          }
        }

      }
    }
  }

}



@media screen and (max-width: 1680px){

  header {
    .headerMain{
      .headerMain__wrapper {
        .headerMain__right {
          ul.menu {
            li {
              padding: 0 15px;
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1580){

  header {
    .headerMain{
      .headerMain__wrapper {

         .headerMain__right {
           ul.menu{
             li {
               a{
                 font-size: 12px;
                 span{
                   font-size: 12px;
                 }
               }
             }
             .blue-button{
               a{
                 padding: 16px 28px;
               }
             }
           }
         }

      }
    }
  }

}




@media screen and (max-width: $responsive-1440){

  header {
    .headerMain{
      padding: 19px 30px;

      .headerMain__wrapper {

        .headerMain__right {
          ul.menu {
            li {
              padding: 0 13px;
              &:last-child{
                padding-left: 0px;
              }
            }
            .blue-button{
              padding-left: 25px;
              a{
                padding: 16px 22px;
              }
            }
          }
        }

      }
    }

    &.static-header{
      .headerMain{
        padding: 13px 30px;
        .headerMain__wrapper {
          .headerMain__right {
            ul.menu {
              .blue-button {
                a{
                  padding: 16px 22px;
                }
              }
            }
          }
        }
      }
    }

  }

}


@media screen and (max-width: $responsive-1360){

  header {

    .headerTop {
      .headerTop__wrapper {

        .headerTop__menu {
          ul {
            li {
              padding: 0 17px;
              a{
                font-size: 14px;
                font-weight: 700;
              }
            }
          }
        }
        .headerTop__phone{
          p,a{
            font-weight: 700;
            font-size: 14px;
          }
          .blueFont{
            font-size: 16px;
          }
        }

        .headerTop__social-icons {
          ul {
            li {
              i{
                font-size: 14px;
              }
            }
          }
        }

      }
    }

    .headerMain {
      .headerMain__wrapper {
        .headerMain__right {
          ul.menu {
            li{
              display: none;
              &.blue-button{
                display: block;
              }
            }
          }
          .headerMain__mobile{
            @include flex(flex, column, wrap);
          }
        }

      }
    }
  }

}


@media screen and (max-width: $responsive-1000){

  header {
    .headerTop {
      .headerTop__wrapper {
        .headerTop__menu {
          ul {
            li{
              &.mobile-hide{
                display: none;
              }
            }
          }
        }

        .headerTop__phone {
          .blueFont{
            font-size: 14px;
          }
        }

      }
    }
  }

}


@media screen and (max-width: $responsive-760){

  header {
    .headerTop {
      .headerTop__wrapper {
        .headerTop__menu {
          display: none;
        }
      }
    }

    .headerMain {
      .headerMain__wrapper {
        .headerMain__right {
          ul.menu{
            display: none;
          }
        }
      }
    }

  }

}


@media screen and (max-width: $responsive-600){

  header {
    .headerTop {
      padding: 13px 20px;
      .headerTop__wrapper {
        .headerTop__phone{
          padding-left: 0px;
          padding-right: 5px;
        }
      }
    }

    .headerMain {
      padding: 19px 20px;
      .headerMain__wrapper {
        .headerMain__right {
          ul{
          }
        }
      }
    }

  }

}