
.innerPageWhiteBox{
    @include width-center(1350px, 0 30px 50px);
    margin-bottom: 60px;
      .innerPageWhiteBox--inner{
        position: relative;
        width: 100%;
        background: $white;
        min-height: 600px;
        @include border-radius(120px);
        @include shadow-outer();
        padding: 60px 80px;
        .faqCategoryContainer{
          padding : 20px 50px 40px;
          border-bottom: 2px solid $grey4;
          h3{
            font-weight: 300;
            margin-bottom: 30px;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
}



@media screen and (max-width: $responsive-1024){


  .innerPageWhiteBox{
    margin-bottom: 40px;
    .innerPageWhiteBox--inner{
      padding: 60px 60px;
      //.faqCategoryContainer{
      //  padding : 20px 50px 40px;
      //  border-bottom: 2px solid $grey4;
      //  h3{
      //    font-weight: 300;
      //    margin-bottom: 30px;
      //  }
      //  &:last-child{
      //    border-bottom: none;
      //  }
      //}
    }
  }

}



@media screen and (max-width: $responsive-768){


  .innerPageWhiteBox{
    margin-bottom: 40px;
    .innerPageWhiteBox--inner{
      padding: 60px 40px;
    }
  }

}