
.faqInsuranceContainer{

  @include width-center(1350px, 0 30px 50px);
  margin-bottom: 60px;
  .faqContainer__wrapper{
    @include flex(flex, row, wrap);

    .faqRightSection{
      position: relative;
      width: 100%;
      background: $white;
      min-height: 600px;
      @include border-radius(120px);
      @include shadow-outer();
      .faqRightSection--inner{
        padding: 40px 60px;
        .faqCategoryContainer{
          padding : 20px 50px 40px;
          border-bottom: 2px solid $grey4;
          h3{
            font-weight: 300;
            margin-bottom: 30px;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
}




@media screen and (max-width: $responsive-768){

  .faqInsuranceContainer {
    .faqContainer__wrapper {
      .faqRightSection {
        .faqRightSection--inner {
          padding: 30px 30px;
          .faqCategoryContainer{
            padding: 30px 40px;
            h3{
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

}