

.hidden-lightboxes{
  display: none !important;
}

body.gp-lightbox-active{
  overflow: hidden !important;
}

.lb-content{
  display: none;
}

// team member lightbox only
.gp-lightbox.lb-team-member{
  .lb-col-flex{
    .lb-bg-container{
      max-width: 1650px;
      .lb-bg-container-2{
        padding: 0;
      }
    }
  }
  .team-flex{
    width: 100%;
   @include flex(stretch,wrap);
    overflow: hidden;
    .tf-left{
      width: 37%;
      position: relative;
      .tf-left-2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .background-image{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .tf-right{
      width: 63%;
      padding-left: 25px;
      padding-right: 25px;
      @media screen and (max-width: 1440px){
        padding-top: 70px;
        padding-bottom: 70px;
      }
      @media screen and (max-width: 1200px){
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 18px;
        padding-right: 18px;
      }
      @media screen and (max-width: 900px){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .tf-right-2{
        width: 100%;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        // we need padding on both containers
        padding-left: 25px;
        padding-right: 25px;
        max-height: 550px;
        @media screen and (max-width: 1920px){
          max-height: 1000px;
        }
        @media screen and (max-width: 1200px){
          padding-left: 18px;
          padding-right: 18px;
        }
        @media screen and (max-width: 900px){
          max-height: none;
          overflow: visible;
          padding-left: 36px;
          padding-right: 36px;
        }
        @media screen and (max-width: 500px){
          padding-left: 30px;
          padding-right: 30px;
        }
        @media screen and (max-width: 400px){
          padding-left: 20px;
          padding-right: 20px;
        }
        .tf-content{
          .tf-name{
            @media screen and (max-width: 500px){
              font-size: 28px;
            }
          }
          .tf-details{
            @media screen and (max-width: 500px){
              font-size: 14px;
            }
          }
          .mobile-img{
            display: none;
            @media screen and (max-width: 900px){
              display: block;
              width: 220px;
              max-width: 50%;
              float: left;
              margin-right: 16px;
              margin-bottom: 8px;
              border-radius: 4px;
              padding: 0;
            }
            @media screen and (max-width: 500px){
              float: none;
              margin: -4px auto 16px auto;
            }
          }
        }
      }
    }
  }
}

// this is often cloned, therefore exists more than once on the page
.gp-lightbox .lb-content{
  display: block;
}

.gp-lightbox{
  display: none;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;
    visibility: hidden;
  }
  &.active{
    display: block;
    z-index: 3000;
    &.most-recently-opened{
      z-index: 3005;
    }
    &::after{
      opacity: .7;
      visibility: visible;
    }
  }
  &.width-xl .lb-col-flex .lb-bg-container{
    max-width: 1360px;
  }
  &.width-lg .lb-col-flex .lb-bg-container{
    max-width: 1040px;
  }
  &.width-md .lb-col-flex .lb-bg-container{
    // default i guess..
  }
  &.width-sm .lb-col-flex .lb-bg-container{
    max-width: 550px;
  }
  .lb-col-flex{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 70px 50px;
    @media screen and (max-width: 1366px){
      padding: 50px 40px;
    }
    @media screen and (max-width: 640px){
      padding: 50px 30px;
    }
    @media screen and (max-width: 430px){
      padding: 30px 15px;
    }
    // same effect as justify-content(center) but when overflow is involved is completely different.
    .lb-bg-container{
      position: relative;
      margin: auto auto;
      width: 100%;
      max-width: 750px;
      .lb-bg-container-2{
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 30px;
        overflow: hidden;
        background: white;
        .close-btn{
          position: absolute;
          top: 13px;
          right: 16px;
          padding: 4px;
          cursor: pointer;
          .fa{
            font-size: 18px;
            color: green;
          }
          &:hover{
            .fa{
              color: red;
            }
          }
        }
        .lb-content{

        }
      }
    }
  }
}