.location-section {
  .location-wrapper {
    max-width: 1620px;
    margin: 0 auto;
    padding: 40px 60px 0;
    @media screen and (max-width: 640px) {
      padding: 80px 20px 0;
    }
    @media screen and (min-width: 860px){
      margin-top: 30px;
    }
    .location-flex {
      display:flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      @media screen and (min-width: 860px){
        padding-left: 40px;
      }

      .location-listing {
        box-shadow: 0px 35px 50px -35px rgba(0,0,0,0.8);
        width: 30%;
        margin: 0 30px 115px 0px;
        text-align: center;
        border-radius: 50px;
        background: $white;
        @media screen and (max-width:1366px){
          width: 42%;
          margin-bottom: 115px;
        }
        @media screen and (max-width:1200px){
          width: 45%;
          margin-bottom: 115px;
        }
        @media screen and (max-width: 860px) {
          width: 100%;
          margin-bottom: 80px;
          margin-right: 0px;
        }
        .location-img {
          position: relative;
          width: 100%;
          height: 250px;
          border-radius: 50px 50px 0px 0px;
          overflow: hidden;
          border-width: 0px;

          a {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor:pointer;
            z-index: 999;
          }
        }
        .location-cat {
          padding-top: 40px;
          padding-bottom: 15px;
          padding-left: 20px;

        }
        .location-cat, .location-date {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.16em;
          color: grey;
          @media screen and (max-width: 1420px) {
            font-size: 12px;
          }
        }
        .location-title {
          margin-top: 15px;
          padding-left: 10px;
          min-height: 90px;
          height: 90px;
          padding-top: 20px;
          display:flex;
          justify-content: center;
          align-items: center;
          h3 {
            font-size: 34px;
            padding-bottom: 22px;
          }
        }
        .location-date {
          padding-bottom: 20px;
          padding-left: 20px;


        }
        .location-excerpt {
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 20px;
          min-height: 40px;
          line-height: 140%;

        }

        .location-phone{
          position: relative;
          color: $lightBlue;
          &:before{
            @include font-awesome();
            font-weight: 400;
            content: "\f095";
            position: relative;
            left: -10px;
            color: $lightBlue;
          }

        }
        .buttonContainer{
          display:flex;
          justify-content: center;
          padding: 30px 0px 40px 0px;
          a{
            padding: 15px 23px;
          }
        }
      }

    }
    .gp-pagination{
      display:flex;
      justify-content: center;
      span,a{
        margin-right: 20px;
        font-size: 28px;
        &:hover{
          color:$orange;

        }
      }
      .current{
        color: $orange;
      }
    }
  }
}