
.storeLocatorContainer{
  @include width-center(1440px, 0 30px);
  margin-top: -80px;
}

#wpsl-wrap{
  //@include

  background: $white;
  @include border-radius(30px);
  @include shadow-outer();

  //#wpsl-stores, #wpsl-direction-details, #wpsl-gmap{
  //  height: 600% !important;
  //}

  a.wpsl-back{
    color: $orange;
    text-decoration: underline;
  }

  #wpsl-gmap, #wpsl-stores, #wpsl-direction-details{
    height: 600px !important;
    @media screen and (max-width: $responsive-1024){
      height: 350px !important;
    }
  }

  #wpsl-result-list {
    li{
      padding: 10px 30px;
    }
  }
  #wpsl-stores{

    .wpsl-store-location{
      a{
        color: $lightBlue;
        //text-decoration: none;
        font-weight: 700;
      }
    }

    p,span{
      font-size: 14px;
      line-height: 22px;
      strong{
        font-size: 16px;
        color: $lightBlue;
      }
    }



    ul{
      li{
        a{
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }

  .wpsl-search{
    background: $lightBlue;
    background-image: linear-gradient( $lightBlue, $darkBlue);
    padding: 25px 15px 20px 30px;
    .wpsl-input{
      @include flex(flex, row, nowrap, ai_center);
    }
    label{
      color: $white;
      display: contents;
    }

    .wpsl-select-wrap{
      padding-left: 15px;
      @include flex(flex, row, nowrap, ai_center);
      #wpsl-radius,
      #wpsl-results{
        margin-left: 15px;
        @include flex(flex, row, nowrap, ai_center);
        .wpsl-dropdown{
          margin-left: 10px;
        }
      }

    }
    .wpsl-search-btn-wrap{
      #wpsl-search-btn{
        @include round-button(white);
        padding: 10px 33px;
        border: none;
        text-transform: uppercase !important;
      }
    }
  }
}



@media screen and (max-width: $responsive-960){

  #wpsl-wrap {
    .wpsl-search {
      #wpsl-search-wrap{
        form{
          @include flex(flex, column, wrap);
        }
        .wpsl-select-wrap{
          padding-left: 0px;
          margin-bottom: 10PX;
          #wpsl-radius{
            margin-left: 0px;
          }
        }

      }
    }
  }

}