$white : #ffffff;

$black : #000000;
$black2 : #221e1f;

$grey1 : #b3b3b3;
$grey2 : #d1d1d1;
$grey3 : #777777;
$grey4 : #f0f0f0;

$lightBlue : #05aee6;
$darkBlue : #091d7d;

$lightYellow : #ffcc00;

$orange: #ff6d13;

$red : #e70d0d;

$responsive-1870 : 1870px;
$responsive-1650 : 1650px;
$responsive-1580 : 1580px;
$responsive-1440 : 1440px;
$responsive-1366 : 1366px;
$responsive-1360 : 1360px;
$responsive-1280 : 1280px;
$responsive-1200 : 1200px;
$responsive-1100 : 1100px;
$responsive-1024 : 1024px;
$responsive-1000 : 1000px;
$responsive-960 : 960px;
$responsive-840 : 840px;
$responsive-800 : 800px;
$responsive-768 : 768px;
$responsive-760 : 760px;
$responsive-700 : 700px;
$responsive-650 : 650px;
$responsive-600 : 600px;
$responsive-550 : 550px;
$responsive-500 : 500px;
$responsive-480 : 480px;

