.woocommerce{
  .single-product{
   .woocommerce-product-gallery{
     display:none;
   }
    .summary{
      float:unset !important;
      width: 50%;
      margin: 2rem auto;
      background: white;
      border: 1px solid white;
      border-radius: 140px;
      padding: 5rem;
      .price{
        display:none;
      }
      .woocommerce-product-details__short-description{
        text-align: center;
      }
      .product_meta{
        display:none;
      }
      .single_add_to_cart_button{
        cursor: pointer;
        position: relative;
        padding: 15px 33px;
        top: 0;
        border-radius: 50px;
        box-shadow: none;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s;
        background-color: #ff6d13;
        background-image: linear-gradient(#ffcc00, #ff6d13);
        color: #ffffff;
        border: none;
        width: auto;
        min-width: 235px;
        margin: 0 auto;
      }
    }
  }
}



//login form
.woocommerce{
  &.gp-woocommerce-container{
    h2{
      text-align: center;
      color: $white;
      width: 50%;
      margin: 0px auto !important;
      background-image: linear-gradient(#05aee6, #091d7d);
      border-radius: 20px 20px 0px 0px;
      padding: 10px 0px;

    }
  }


  .woocommerce-form-login{
    background: white;
    border-radius: 5px 5px 30px 30px !important;
    @media screen and (min-width: 860px){
      width: 50%;
      margin: 0 auto !important;
    }
    .button{
      position: relative;
      padding: 10px 17px;
      top: 0;
      border-radius: 50px;
      box-shadow: none;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s;
      background-color: #ff6d13;
      background-image: linear-gradient(#ffcc00, #ff6d13);
      color: #ffffff;
      border: none !important;
      min-width: 120px;
      &:hover{
        position: relative;
        box-shadow: 0 5px 10px rgba(0,0,0,0.4);
        top: -3px;
        background-image: linear-gradient(#ffcc00, #ff6d13);
        color:$white;
      }
    }
  }
}


//dashboard

.woocommerce{
  .woocommerce-MyAccount-navigation{
    background-image: linear-gradient(#05aee6, #091d7d);
    border-radius: 30px;
    padding: 10px 30px;
    ul{
      li{
        padding: 20px 0px;
        a{
          color:$white !important;
          &:hover{
            color:$orange !important;
          }
        }
      }
    }
  }
}
