
.announcementContainer {
  position: relative;
  width: 100%;
  @include width-center(1610px, 20px 60px);
  @media screen and (max-width: $responsive-600){
    padding: 20px 40px
  }

  .announcementContainer--inner{
    @include border-radius(120px);
    position: relative;
    overflow: hidden;
    @include bg-cover();

    .announcementContainer__gradient{
      @include posa();
      background-color: $lightBlue;
      background-image: linear-gradient($lightBlue, $darkBlue);
      opacity: 0.8;
    }

    .announcementContainer__content{
      position: relative;
      @include width-center(100%, 0px);
      @include flex(flex, row, nowrap, ai_center);
      padding: 70px 60px 55px;
      @media screen and (max-width: $responsive-760){
        padding: 60px 40px 50px;
      }
      i{
        color: $white;
        padding-right: 50px;
        font-size: 64px;
      }

      .announcementContainer__content-wrapper{
        @include all-color($white);
        p{
          &:last-child{
            margin-bottom: 0px;
          }
        }

      }
    }

  }


}


@media screen and (max-width: $responsive-840){

  .announcementContainer {
    .announcementContainer--inner {
      .announcementContainer__content {
        i{
          padding-right: 30px;
          font-size: 50px;
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-650){

  .announcementContainer {
    .announcementContainer--inner {
      .announcementContainer__content {
        text-align: center;
        @include flex(flex, row, wrap, jc_center, ai_center);
        i{
          padding-right: 0px;
          font-size: 55px;
          margin-bottom: 8px;
        }
      }
    }
  }

}
