
//.bannerBottomContainer{
//  position: relative;
//  margin-top: -125px;
//  height: 125px;
//  z-index: 10;
//  //overflow: hidden;
//
//  .bannerBottomContainer__blue--before{
//    position: relative;
//    width: 95%;
//    max-width: 1385px;
//    &:before{
//      content: "";
//      @include posa(1285px, 250px);
//      width: calc(100% - 100px);
//      top: -40px;
//      background-color: $lightBlue;
//      background-image: linear-gradient($lightBlue, $darkBlue);
//      @include border-radius-right(200px);
//      opacity: 0.4;
//      @media screen and (max-width: $responsive-760) {
//        display: none;
//      }
//    }
//    .bannerBottomContainer__blue{
//      @include posa(100%, 250px);
//      background-color: $lightBlue;
//      background-image: linear-gradient($lightBlue, $darkBlue);
//      @include border-radius-right(200px);
//      z-index: 1;
//      .bannerBottomContainer__blue__wrapper{
//        position: relative;
//        height: 100%;
//        width: 100%;
//        padding-left: 190px;
//
//        @include flex(flex, row, wrap, ai_center);
//        i{
//          color: $white;
//          padding-right: 50px;
//          font-size: 64px;
//        }
//        h3{
//          color: $white;
//          padding-right: 70px;
//          margin-bottom: 0px;
//          font-weight: 400;
//          @include text-shadow();
//        }
//        .buttonContainer{
//          a{
//            font-weight: 700;
//          }
//        }
//
//        .locationIconsContainer{
//          @include flex(flex, row, nowrap, ai_center, jc_start);
//          margin: 0 -15px;
//          width: 100%;
//          max-width: 1110px;
//          .locationIcon{
//            padding: 0 15px;
//            margin-right: 9%;
//            .locationIcon__inner{
//              //width: 210px;
//              text-align: center;
//              .locationIcon__icon{
//                margin-bottom: 20px;
//                i{
//                  color: #ffffff;
//                  padding-right: 0px;
//                  font-size: 56px;
//                  @include text-shadow();
//                }
//              }
//              h5{
//                color: $white;
//                font-size: 18px;
//                @include text-shadow();
//                @include transition();
//                &:hover{
//                  color: $lightYellow;
//                }
//              }
//            }
//          }
//        }
//      }
//
//    }
//  }
//
//
//
//}



.bannerBottomContainer{
  position: relative;
  margin-top: -125px;
  //height: 125px;
  z-index: 10;
  //overflow: hidden;

  .bannerBottomContainer__blue--before{
    position: relative;
    width: 95%;
    max-width: 1385px;
    &:before{
      content: "";
      @include posa(1285px, 250px);
      width: calc(100% - 100px);
      top: -40px;
      background-color: $lightBlue;
      background-image: linear-gradient($lightBlue, $darkBlue);
      @include border-radius-right(200px);
      opacity: 0.4;
      @media screen and (max-width: $responsive-760) {
        display: none;
      }
    }
    .bannerBottomContainer__blue{
      //@include posa(100%, 250px);
      position: relative;
      height: 250px;
      background-color: $lightBlue;
      background-image: linear-gradient($lightBlue, $darkBlue);
      @include border-radius-right(200px);
      z-index: 1;
      .bannerBottomContainer__blue__wrapper{
        position: relative;
        height: 100%;
        width: 100%;
        padding-left: 190px;

        @include flex(flex, row, wrap, ai_center);
        i{
          color: $white;
          padding-right: 50px;
          font-size: 64px;
        }
        h3{
          color: $white;
          padding-right: 70px;
          margin-bottom: 0px;
          font-weight: 400;
          @include text-shadow();
        }
        .buttonContainer{
          a{
            font-weight: 700;
          }
        }

        .locationIconsContainer{
          @include flex(flex, row, nowrap, ai_center, jc_start);
          margin: 0 -15px;
          width: 100%;
          max-width: 1110px;
          .locationIcon{
            padding: 0 15px;
            margin-right: 9%;
            .locationIcon__inner{
              //width: 210px;
              text-align: center;
              .locationIcon__icon{
                margin-bottom: 20px;
                i{
                  color: #ffffff;
                  padding-right: 0px;
                  font-size: 56px;
                  @include text-shadow();
                }
              }
              h5{
                color: $white;
                font-size: 18px;
                @include text-shadow();
                @include transition();
                &:hover{
                  color: $lightYellow;
                }
              }
            }
          }
        }
      }

    }
  }



}

@media screen and (max-width: $responsive-1440){

  .bannerBottomContainer {
    .bannerBottomContainer__blue--before {
      .bannerBottomContainer__blue {
        .bannerBottomContainer__blue__wrapper{
            padding-left: 120px;
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1366){

  .bannerBottomContainer {
    margin-top: -80px;
    .bannerBottomContainer__blue--before {
      width: calc(100% - 60px);

      .bannerBottomContainer__blue {
        .bannerBottomContainer__blue__wrapper{
          //padding-left: 120px;
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1280){

  .bannerBottomContainer {
    .bannerBottomContainer__blue--before {
      max-width: 1175px;
      .bannerBottomContainer__blue {
        .bannerBottomContainer__blue__wrapper{
          padding-left: 70px;
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1100){

  .bannerBottomContainer {
    .bannerBottomContainer__blue--before {
      .bannerBottomContainer__blue {
        .bannerBottomContainer__blue__wrapper{
          padding-left: 70px;
          i{
            font-size: 55px;
            padding-right: 18px;
          }
          h3{
            padding-right: 28px;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-960){


  .bannerBottomContainer {
    margin-top: 0px;
    height: auto;
    .bannerBottomContainer__blue--before {
      width: 100%;
      &:before{
        width: 100%;
        height: 100%;
        @include border-radius-right(0px);
      }
      .bannerBottomContainer__blue {
        @include border-radius-right(0px);
        position: relative;
        height: auto;
        padding: 60px 0;
        .bannerBottomContainer__blue__wrapper{
          //padding-left: 120px;
          padding: 0 50px;
          h3{
            padding-right: 0px;
          }
          .buttonContainer{
            width: 100%;
            margin-top: 10px;
            a{
              margin: 0 auto;
            }
          }


          .locationIconsContainer {
            @include flex(flex, row, wrap, ai_center, jc_center);
            margin: 0 -20px;
            .locationIcon {
              margin-right: 0px;
              padding: 20px;
              .locationIcon__inner{
                  max-width: 160px;
                .locationIcon__icon{
                  i{
                    font-size: 41px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

}



@media screen and (max-width: $responsive-840){

  .bannerBottomContainer {
    .bannerBottomContainer__blue--before {
      .bannerBottomContainer__blue {
        .bannerBottomContainer__blue__wrapper {
          .locationIconsContainer {
            margin: 0 auto;
            .locationIcon {
              width: 50%;
              margin-bottom: 20px;
              .locationIcon__inner {
                margin: 0 auto;
                max-width: 230px;
                .locationIcon__icon {

                }
              }
            }
            &:nth-last-child(1){
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-600){

  .bannerBottomContainer {
    .bannerBottomContainer__blue--before {
      .bannerBottomContainer__blue {
        padding: 40px 0;
        .bannerBottomContainer__blue__wrapper{
            @include flex(flex, column, wrap);
          padding: 0 15px;
          text-align: center;
          i{
            padding-right: 0px;
            margin-bottom: 15px;
          }

          .locationIconsContainer {
            .locationIcon {
              .locationIcon__inner {
                .locationIcon__icon{
                  margin-bottom: 5px;
                  i{
                    font-size: 32px;
                  }
                }
                h5{
                  font-size: 16px;
                }
              }
            }
          }

        }
      }
    }
  }

}