
.bannerBottomContainerTwo{
  width: 100%;
  padding-right: 15%;
  overflow: hidden;
  margin-top: -110px;
  .bannerBottomContainerTwo--inner{
    padding: 100px 100px 100px 190px;
    background-image: linear-gradient($lightBlue, $darkBlue);
    @include border-radius-right(100px);
    @include all-color($white);
  }
}


@media screen and (max-width: $responsive-1440){
  .bannerBottomContainerTwo{
    .bannerBottomContainerTwo--inner{
      padding: 100px 100px 100px 125px;
    }
  }
}

@media screen and (max-width: $responsive-1366){
  .bannerBottomContainerTwo{
    margin-top: -80px;
    padding-right: 100px;
    .bannerBottomContainerTwo--inner{
      padding: 100px 100px 100px 125px;
    }
  }
}


@media screen and (max-width: $responsive-840){
  .bannerBottomContainerTwo{
    .bannerBottomContainerTwo--inner{
      padding: 80px 80px 75px 80px;
    }
  }
}



@media screen and (max-width: $responsive-650){
  .bannerBottomContainerTwo{
    padding-right: 40px;
    .bannerBottomContainerTwo--inner{
      padding: 80px 40px 75px 40px;
    }
  }
}