
.beforeAfterSliderContainer{
  padding: 30px 0;
  width: 100%;
  position: relative;
  height: 780px;
  height: 730px;
  .beforeAfterSliderContainer--abs{
    @include posa();
    right: 0;
    margin: 0 auto;
    width: calc(100% - 200px);
    @include border-radius(140px);
    @include bg-cover();
    @include transition(all, 0.8s);
    overflow: hidden;
    .beforeAfterSliderContainer--abs--overlay{
      @include posa();
      background-image: linear-gradient( $lightBlue, $darkBlue);
      opacity: 0.8;
    }
  }

  .centerContentContainer{
    position: relative;
    padding: 10px 0;
    @include all-color($white);
  }

  .beforeAfterSlider,
  .beforeAfterSlider2,
  .beforeAfterSlider3,
  .beforeAfterSlider4,
  .beforeAfterSlider5,
  .beforeAfterSlider6,
  .beforeAfterSlider7,
  .beforeAfterSlider8,
  {
    position: relative;
    z-index: 1;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      //height: 100%;
      .beforeAfterSlider--single{
        float: left;
        width: 100%;
        outline: none;
        .beforeAfterSlider--single__content{
          padding: 0 50px;
          width: 100%;
          @include flex(flex, row, nowrap);
          .ba-img{
            overflow: hidden;
            cursor: pointer;
            position: relative;
            z-index: 1;
            width: calc(50% + 46px);
            height: 410px;
            @include border-radius(70px);
            @include bg-cover();
            @include shadow-outer();
            &.after-img{
              margin-left: -92px;
              margin-top: 70px;
            }
            .ba-img-overlay{
              @include posa();
              //background-image: linear-gradient( to top, rgba(66,66,66,0.4), rgba(66,66,66,0.2), rgba(66,66,66,0), rgba(66,66,66,0), rgba(66,66,66,0), rgba(66,66,66,0));
              @include shadow-inner();
            }
            h4{
              color: $white;
              position: absolute;
              bottom: 48px;
              left: 60px;
              font-size: 27px;
            }
          }
        }
        .beforeAfterSlider--patientInfo{
          @include flex(flex, row, nowrap, jc_center, ai_center);
          margin: 45px 0 10px;
          p{
            padding: 0 12px;
            font-size: 26px;
            color: $white;
            margin-bottom: 0px;
            &.patientInfo--name{
              font-weight: 700;
            }
            &.patientInfo--age{
              border-left: 2px solid $white;
            }
          }
        }
      }
    }
  }

  .common-scrollbar {
    margin-top: 35px;
    background: $darkBlue;
    position: relative;
    .handle{
      background: $white;
    }
  }

}


@media screen and (max-width: $responsive-1580){

  .beforeAfterSliderContainer {
    height: 735px;
    height: 670px;
    .beforeAfterSlider,
    .beforeAfterSlider2,
    .beforeAfterSlider3,
    .beforeAfterSlider4,
    .beforeAfterSlider5,
    .beforeAfterSlider6,
    .beforeAfterSlider7,
    .beforeAfterSlider8,
    {

      ul {
        .beforeAfterSlider--single {
          .beforeAfterSlider--single__content {
            padding: 0 30px;
            .ba-img{
              height: 350px;
            }
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1440){

  .beforeAfterSliderContainer {
    height: 700px;
    height: 640px;
    .beforeAfterSlider,
    .beforeAfterSlider2,
    .beforeAfterSlider3,
    .beforeAfterSlider4,
    .beforeAfterSlider5,
    .beforeAfterSlider6,
    .beforeAfterSlider7,
    .beforeAfterSlider8,
    {
      ul {
        .beforeAfterSlider--single {
          .beforeAfterSlider--single__content {
            padding: 0 20px;
            .ba-img{
              height: 320px;
              width: calc(50% + 25px);
              &.after-img{
                margin-left: -50px;
              }
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .beforeAfterSliderContainer {
    height: 590px;
    height: 530px;
    .beforeAfterSliderContainer--abs{
      width: calc(100% - 90px);
    }

    h1, h1 strong, h1 span{
      @include font-percentage(36px, 110%);
    }

    .beforeAfterSlider,
    .beforeAfterSlider2,
    .beforeAfterSlider3,
    .beforeAfterSlider4,
    .beforeAfterSlider5,
    .beforeAfterSlider6,
    .beforeAfterSlider7,
    .beforeAfterSlider8,
    {
      ul {
        .beforeAfterSlider--single {
          .beforeAfterSlider--single__content {
            padding: 0 20px;
            .ba-img{
              height: 245px;
              width: calc(50% + 25px);
              &.after-img{
                margin-left: -50px;
              }
              h4{
                bottom: 30px;
                left: 40px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .common-scrollbar{
      width: 70%;
      max-width: 540px;
    }
  }

}




@media screen and (max-width: $responsive-760){

  .beforeAfterSliderContainer {
    height: 550px;
    height: 500px;
    h1, h1 strong, h1 span{
      @include font-percentage(28px, 110%);
    }
    .beforeAfterSliderContainer--abs{
      width: calc(100% - 60px);
      @include border-radius(100px);
    }

    .beforeAfterSlider,
    .beforeAfterSlider2,
    .beforeAfterSlider3,
    .beforeAfterSlider4,
    .beforeAfterSlider5,
    .beforeAfterSlider6,
    .beforeAfterSlider7,
    .beforeAfterSlider8,
    {
      ul {
        .beforeAfterSlider--single {
          .beforeAfterSlider--single__content {
            padding: 0 10px;
            .ba-img{
              height: 218px;
              @include border-radius(50px);
            }
          }
        }
      }
    }

    .common-scrollbar{
      margin-top: 20px;
    }

  }

}




@media screen and (max-width: $responsive-650){

  .beforeAfterSliderContainer {
    height: 470px;
    height: 410px;
    h1, h1 strong, h1 span{
      @include font-percentage(24px, 110%);
    }

    .beforeAfterSlider,
    .beforeAfterSlider2,
    .beforeAfterSlider3,
    .beforeAfterSlider4,
    .beforeAfterSlider5,
    .beforeAfterSlider6,
    .beforeAfterSlider7,
    .beforeAfterSlider8,
    {
      ul {
        .beforeAfterSlider--single {
          .beforeAfterSlider--single__content {
            padding: 0 10px;
            .ba-img{
              height: 170px;
              h4{
                bottom: 22px;
                left: 30px;
                font-size: 16px;
              }
            }
          }
          .beforeAfterSlider--patientInfo{
            margin: 20px 0 10px;
            p{
              font-size: 20px;
            }
          }
        }
      }
    }
  }

}

