
.blueBoxesPanelContainer{
  @include width-center(1505px, 0 60px);
  .blueBoxesPanel{
    .blueBoxesPanel_wrapper{
      @include flex(flex, row, wrap, ai_center, jc_center);
      margin: 0 -27px;
      .singleBlueBox{
        width: 33.33%;
        padding: 0 27px;
        margin-bottom: 42px;
        min-width: 300px;
        .singleBlueBox__content{
          @include flex(flex, column, wrap, ai_center, jc_center);
          @include border-radius(75px);
          background-image: linear-gradient($lightBlue, $darkBlue);
          width: 100%;
          min-height: 390px;
          .singleBlueBox__content--inner{
            padding: 15px;
            width: 100%;
            text-align: center;
            .imageIcon{
              width: 130px;
              height: 85px;
              margin: 30px auto 15px;
              img{
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
              }
            }
            p{
              color: $white;
              font-size: 22px;
              line-height: 32px;
              margin-bottom: 25px;
              font-weight: 400;
              @include text-shadow();
            }
            .buttonContainer{
              a{
                color: $orange;
                margin: 0 auto;
                min-width: 200px;
                padding: 23px 33px;
              }
            }
          }

        }
      }
    }
  }

  &.blueBoxesPanelContainer--overlay{
    margin-top: -80px;
  }

}



@media screen and (max-width: $responsive-1366){

  .blueBoxesPanelContainer {
    .blueBoxesPanel {
      .blueBoxesPanel_wrapper {
        margin: 0 -18px;
        .singleBlueBox{
          padding: 0 18px;
        }
      }
    }
  }
}


@media screen and (max-width: $responsive-1024){

  .blueBoxesPanelContainer {
    .blueBoxesPanel {
      .blueBoxesPanel_wrapper {
        .singleBlueBox{
          width: 50%;
          margin-bottom: 30px;
          .singleBlueBox__content{
            min-height: 350px;
          }
        }
      }
    }
    &.blueBoxesPanelContainer--overlay{
      margin-top: -50px;
    }
  }

}




//@media screen and (max-width: $responsive-840){
//
//  .blueBoxesPanelContainer {
//    .blueBoxesPanel {
//      .blueBoxesPanel_wrapper {
//        .singleBlueBox{
//          width: 50%;
//        }
//      }
//    }
//  }
//
//}


@media screen and (max-width: $responsive-760){

  .blueBoxesPanelContainer {
    .blueBoxesPanel {
      .blueBoxesPanel_wrapper {
        .singleBlueBox{
          width: 60%;
          min-width: 340px;
        }
      }
    }
  }

}