
.blueImageOverlayContent {
  position: relative;
  width: 100%;
  @include width-center(1800px, 20px 60px);
  @media screen and (max-width: $responsive-600){
    padding: 20px 40px
  }

  .blueImageOverlayContent--inner{
    @include border-radius(120px);
    position: relative;
    overflow: hidden;
    @include bg-cover();

    .blueImageOverlayContent__gradient{
      @include posa();
      background-color: $lightBlue;
      background-image: linear-gradient($lightBlue, $darkBlue);
      opacity: 0.8;
    }

    .blueImageOverlayContent__content{
      position: relative;
      @include width-center(1400px, 0px);
      padding: 120px 60px;
      @media screen and (max-width: $responsive-1024){
        padding: 80px 60px;
      }
      @media screen and (max-width: $responsive-600){
        padding: 80px 40px 60px;
      }

      .blueImageOverlayContent__content-wrapper{
        @include all-color($white);
      }
    }

  }


}



//@media screen and (max-width: $responsive-1280){
//
//  .videoPanel {
//    margin-top: 0px;
//    height: 590px;
//    .videoPanel__content {
//      .videoPanel__content-wrapper{
//          padding: 20px 30px;
//      }
//    }
//  }
//
//}