
.blueTwoColumnContent{
  width: 100%;
  padding: 15px 0;
  padding-right: 233px;
  position: relative;
  margin-top: -120px;

  @media screen and (max-width: $responsive-1580){
    padding-right: 150px;
  }



  .blueTwoColumnContent__wrapper{
    @include flex(flex, row, nowrap, jc_flex_start);
    @include all-color($white);
    @include border-radius-right(125px);
    @include shadow-outer();
    background-image: linear-gradient( $lightBlue, $darkBlue);
    overflow: hidden;
    padding-bottom: 110px;
      .blueTwoColumnContent_Left{
        width: 46.5%;
        padding: 145px 36px 0px 0;
        .blueTwoColumnContent_Left--inner{
          padding-left: 25%;
        }
      }
      .blueTwoColumnContent_Right{
        width: 53.5%;
        padding-left: 32px;
        .blueTwoColumnContent_Right--inner{
          .blueTwoColumnContent_Right--image{
            width: 100%;
            height: 565px;
            @include bg-cover();
            margin-bottom: 60px;
            position: relative;
            @include flex(flex, row, wrap, jc_center, ai_center);
            @include transition();
            a{
              @include posa();

            }
            .playBtn{
              width: 100px;
              height: 100px;
            }

            &:hover{
              opacity: 0.8;
            }

          }
          .blueTwoColumnContent_Right--content{
            padding-right: 35%;
          }
        }
      }

  }
}



@media screen and (max-width: $responsive-1280){

  .blueTwoColumnContent {
    padding-right: 75px;
    margin-top: -80px;
    .blueTwoColumnContent__wrapper {
      padding-bottom: 40px;
      .blueTwoColumnContent_Left {
        padding: 85px 36px 0px 0;
        .blueTwoColumnContent_Left--inner{
          padding-left: 50px;
        }
      }

      .blueTwoColumnContent_Right {
        .blueTwoColumnContent_Right--inner {
          .blueTwoColumnContent_Right--image{
            height: 410px;
          }
        }
      }

    }
  }

}


@media screen and (max-width: $responsive-840){

  .blueTwoColumnContent {
    padding-right: 40px;
    .blueTwoColumnContent__wrapper{
      padding: 40px;
      @include flex(flex, row, wrap, jc_flex_start);
      .blueTwoColumnContent_Left{
        width: 100%;
        padding: 50px 0px 0;
        .blueTwoColumnContent_Left--inner{
          padding-left: 0px;
        }
      }
      .blueTwoColumnContent_Right{
        width: 100%;
        padding: 0px;
        .blueTwoColumnContent_Right--inner{
          .blueTwoColumnContent_Right--image{
            margin-bottom: 35px;
          }
          .blueTwoColumnContent_Right--content{
            padding-right: 30px;
          }
        }
      }
    }
  }


}