
.centerPanelContainer{
  .centerPanel{
    position: relative;
    overflow: hidden;
    @include width-center(1200px, 40px 30px);
    @media screen and (max-width: $responsive-650){
      padding: 40px 30px !important;
    }
  }
  &.dividers {
    position: relative;
    h3 {
      font-size: 28px;
      line-height: 35px;
    }
    &::before, &::after {
      position: absolute;
      content: '';
      background-image: linear-gradient(to right, #091d7d, #05aee6);
      width: 300px;
      height: 10px;
      left: 50%;
      transform: translateX(-50%);
      @include border-radius(10px);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}



//Not used
.centerContentContainer{
  .centerContent{
    text-align: center;
  }
}




//Home Page / Three box blue panel
.centerPanelContainer{
  &.important_smile{
    @media screen and (max-width: $responsive-1024){
      .centerPanel{
        @include width-center(950px !important, 40px 30px);
      }
    }

    @media screen and (max-width: $responsive-768){
      h1{
        width: 100%;
        max-width: 630px;
        margin: 0 auto;
      }
    }
  }
}



//Home Page / Three box blue panel
.centerPanelContainer{
  &.important_smile{
    @media screen and (max-width: $responsive-1024){
      .centerPanel{
        @include width-center(950px !important, 40px 30px);
      }
    }

    @media screen and (max-width: $responsive-768){
      h1{
        width: 100%;
        max-width: 630px;
        margin: 0 auto;
      }
    }
  }
}




//Home Page / Three box blue panel
.centerPanelContainer{
  &.overflow{
    .centerPanel{
      overflow: visible;
    }
  }
}
