
.commonBannerSection{
  position: relative;
  min-height: 580px;
  height: calc(100vh - 194px);
  height: 100vh;
  height: 858px;
  .commonBannerSection__image{
    //63%

    @include posa(63%);
    right: 0;
    left: inherit;
    @include bg-cover;
  }
  .commonBannerSection__leftGradient{
    @include posa(70%);
    background-image: linear-gradient(to right,
                                      rgb(255, 255, 255), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1),
                                      rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  }
  .commonBannerSection__bottomGradient{
    @include posa(100%, 210px);
    bottom: 0;
    top: inherit;
    background-image: linear-gradient(to top,
            rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  }

  .commonBannerSection__info{
    position: relative;
    height: 100%;
    @include flex(flex, row, wrap, ai_center);
    .commonBannerSection__info__wrapper{
      position: relative;
      top: -60px;
      left: 170px;
      width: 100%;
      max-width: 600px;
      padding: 0 20px;
    }
  }


  &.commonBannerSection__inner_page{
    height: 695px;
    .commonBannerSection__image{
      @include posa(100%);
      left: 0;
    }
    .commonBannerSection__leftGradient{
      @include posa(70%);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),
              rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    }
    .commonBannerSection__info {
      .commonBannerSection__info__wrapper {
        top: -30px;
        max-width: 720px;
        h1, h1 span, h1 strong{
          margin-bottom: 5px;
          line-height: 100%;
        }
        h3{
          font-weight: 500;
          line-height: 115%;
          margin-bottom: 15px;
        }
        p{
          line-height: 24px;
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1440){

  .commonBannerSection{
    height: 630px;
    .commonBannerSection__info {
      .commonBannerSection__info__wrapper{
        left: 100px;
      }
    }
  }

}



@media screen and (max-width: $responsive-1280){

  .commonBannerSection{
    height: 630px;
    .commonBannerSection__info {
      .commonBannerSection__info__wrapper{
        left: 50px;
        max-width: 580px;
      }
    }

  }

}




@media screen and (max-width: $responsive-960){

  .commonBannerSection{
    height: auto;
    min-height: 1px;
    @include flex(flex, row, wrap);
    .commonBannerSection__info {
      order: 1;
      width: 100%;
      height: auto;
      background: $white;
      .commonBannerSection__info__wrapper{
        left: inherit;
        text-align: center;
        @include width-center(590px, 50px 20px 20px);
        top: 0px;
        .buttonContainer{
          a{
            margin: 0 auto;
          }
        }

      }
    }
    .commonBannerSection__image{
      position: relative;
      order: 2;
      width: 100%;
      right: inherit;
      height: 430px;
      &:before{
        content: "";
        @include posa();
        background-image: linear-gradient(rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
      }
    }
    .commonBannerSection__leftGradient,
    .commonBannerSection__bottomGradient{
      display: none;
    }

    &.commonBannerSection__inner_page {
      height: auto;
      .commonBannerSection__image{
        position: relative;
        height: 430px;
      }
    }

  }

}


@media screen and (max-width: $responsive-768){

  .commonBannerSection {
    .commonBannerSection__image{
      height: 410px;
    }
  }

}



@media screen and (max-width: $responsive-600){

  .commonBannerSection {
    .commonBannerSection__image{
      height: 280px;
    }
    &.commonBannerSection__inner_page {
      .commonBannerSection__image{
        height: 280px;
      }
    }
  }

}