
.footerContent{
  position: relative;
  width: 100%;
  @include flex(flex, row, wrap, ai_center);
  .footerContent__left{
    width: 39%;
    h1{
      font-weight: 300;
    }
    h1,h2,h3,h4,h5,h6,p,span,strong{
      color: $white;
    }
    .menu{
      @include flex(flex, row, wrap, ai_center);
      margin: 40px 0;
      li{
        padding-right: 30px;
        i{
          color: $white;
        }
      }
    }
  }
  .footerContent__right{
    width: 61%;
    padding-left: 80px;
    .footerContent__right--box{
      width: 100%;
      background: $white;
      @include border-radius(100px);
      padding: 65px 55px 40px;
      h2{
        color: $lightBlue;
        font-weight: 600;
      }

      .footerFormContainer{
        width: 100%;
        padding: 10px 15px 0;
        //margin-top: 10px;

        h3.mt-50{
          font-weight: 700;
          text-align: center;
          margin-top: 0px !important;
        }

        .field-row{
        }

        .wpforms-submit-container{
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1366){

  .footerContent {
    .footerContent__left {
      width: 42%;
    }
    .footerContent__right {
      width: 58%;
      padding-left: 40px;
      p{
        line-height: 25px;
      }
      .footerContent__right--box{
        padding: 35px 40px 20px;
        .footerFormContainer{
          padding: 0 10px;
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1100){

  .footerContent {
    .footerContent__left {
      width: 100%;
      margin-bottom: 60px;
      text-align: center;
      .menu{
        @include flex(flex, row, wrap, ai_center,jc_center);
      }
      .buttonContainer{
        a{
          margin: 0 auto;
        }
      }
    }
    .footerContent__right {
      width: 100%;
      padding-left: 0px;
      .footerContent__right--box{
        padding: 50px 9% 30px;
        .footerFormContainer{
          padding: 0 10px;
        }
      }
    }
  }

}