
.googleReviewContainer{
  @include width-center(1300px, 0 75px);
  margin-bottom: 60px;
  .googleReviewContainer__inner{
    position: relative;
    text-align: center;
    .googleReview--logo{
      @include width-center(240px, 0 20px);
      margin-bottom: 35px;
      img{
        max-width: 100%;
        display: block;
      }
    }


    .wprevpro_t1_outer_div{
      margin: 0 -20px;
      .w3_wprs-col{
        padding: 0 20px;
        .wprevpro_t1_DIV_2{
            &:before{
              left: 45px;
              height: 50px;
              top: 12px;
              font-size: 50px;
            }
            &:after{
              display: none;
            }
            @include border-radius(20px !important);
            padding: 20px 20px 20px 25px;
            min-height: 160px;
            p,span{
              @include font-montserrat();
              font-weight: 400;
              line-height: 20px;
              font-size: 13px;
              font-style: italic;
              color: $grey3 !important;
            }
            .wprs_rd_more{
              color: $lightBlue;
              font-size: 14px;
            }
        }
        .wprevpro_t1_SPAN_5{
          text-align: left;
          font-size: 13px;
          color: $grey3;
          span{
            font-size: 13px;
            color: $grey3
          }
        }
      }
    }

    .wprs_unslider{
      .wprs_unslider-nav{
        display: none !important;
      }

      .wprs_unslider-arrow{
        background-image: none;
        color: transparent;
        background: none;
        text-indent: unset;
        border-radius: 0px;
        width: 32px;
        height: 32px;
        opacity: 1;
        &:before{
          @include font-awesome();
          position: absolute;
          left: 0;
          z-index: 1;
          color: $lightBlue;
          font-size: 40px;
          height: 32px;
          width: 32px;
          top: -7px;
        }
        &.next,
        &.prev{
          &:before{
            content: '\f0da';
          }
        }
        &.prev{
          left: -60px;
        }
        &.next{
          right: -60px;
        }
      }
    }


  }
}