
.gradientContent {
  position: relative;
  width: 100%;
  @include width-center(1800px, 20px 60px);
  @media screen and (max-width: $responsive-600){
    padding: 20px 40px
  }

  .gradientContent--inner{
    @include border-radius(125px);
    position: relative;
    overflow: hidden;
    @include bg-cover();
    @include flex(flex, row, wrap, jc_start);

    .gradientContent__gradient{
      @include posa();
      background-color: $lightBlue;
      opacity: 0.0;
    }
    .gradientContent__gradient--horizontal{
      @include posa();
      width: 100%;
      //background-color: $lightBlue;
      background-image: linear-gradient(to right, $darkBlue, rgba(9, 29, 125, 0.7), rgba(5, 174, 230, 0.5), rgba(5, 174, 230, 0.1));
      //opacity: 0.2;
    }

    .gradientContent__content{
      position: relative;
      padding: 110px 120px;
      width: 100%;
      max-width: 65%;
      @media screen and (max-width: $responsive-1024){
        padding: 80px 60px;
      }
      @media screen and (max-width: $responsive-600){
        padding: 80px 40px 60px;
      }

      .gradientContent__content-wrapper{
        @include all-color($white);
        .buttonContainer a{
          color: $lightBlue;
        }
      }

    }

  }


  &.gradientContent--left{
    .gradientContent--inner{

    }
  }

  &.gradientContent--right{
    .gradientContent--inner{
      @include flex(flex, row, wrap, jc_end);
      .gradientContent__gradient--horizontal{
        @include posa();
        width: 100%;
        right: 0;
        left: initial;
        //background-color: $lightBlue;
        background-image: linear-gradient(to right, rgba(5, 174, 230, 0.1), rgba(5, 174, 230, 0.5), rgba(9, 29, 125, 0.8), $darkBlue);
        //opacity: 0.2;
      }
    }

  }

}



@media screen and (max-width: $responsive-1366){

  .gradientContent {
    .gradientContent--inner {
      .gradientContent__content{
          max-width: 80%;
      }
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .gradientContent {
    .gradientContent--inner {
      .gradientContent__content{
        max-width: 100%;
      }
    }
  }

}
