
.backgroundImagePanel{
  background: repeat fixed 0 0 / cover;
}


.imageContentPanel{
  width: 100%;
  overflow: hidden;
  margin-top: -65px;
  padding: 0px 0 60px;
  @include flex(flex, row, wrap, ai_center);




  .imageContentPanel__image-before{
    position: relative;
    width: 48%;
    .imageContentPanel__image{
      min-height: 720px;
      @include bg-cover();
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
      @include shadow-outer();
    }

    &:before{
      content: '';
      @include posa();
      left: -100px;
      top: 40px;
      z-index: -1;
      background: $white;
      @include border-radius-right(100px);
      @include shadow-outer();
    }

  }


  .imageContentPanel__info{
    width: 52%;
    .imageContentPanel__info-inner{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px 30px;
    }
  }


  &.overlap-no{
    margin-top: 30px;
    .imageContentPanel__image-before {
      .imageContentPanel__image {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
      }
    }
  }

  &.imageContentPanel-right{
    .imageContentPanel__image-before {
      order: 2;
      .imageContentPanel__image {
        @include border-radius-left(100px);
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      &:before{
        content: '';
        @include posa();
        left: 100px;
        top: 40px;
        z-index: -1;
        background: $white;
        @include border-radius-left(100px);
        @include shadow-outer();
      }
    }
    .imageContentPanel__info{
      order: 1;
    }
  }

}


@media screen and (max-width: $responsive-1366){

  .imageContentPanel{
    @include flex(flex, row, wrap, ai_end);
    .imageContentPanel__image-before {
      .imageContentPanel__image{
        min-height: 610px;
      }
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .imageContentPanel{
    @include flex(flex, row, wrap, ai_end);
    .imageContentPanel__image-before {
      width: 46%;
      .imageContentPanel__image{
        min-height: 580px;
      }
    }

    .imageContentPanel__info {
      width: 54%;
      .imageContentPanel__info-inner{
        max-width: 480px;
      }
    }

  }

}



@media screen and (max-width: $responsive-960){

  .imageContentPanel{
    padding: 10px 0;
    margin-top: 0px;
    .imageContentPanel__image-before {
      width: calc(100% - 40px);
      margin-bottom: 75px;
      .imageContentPanel__image{
        @include border-radius-right(100px);
      }
    }

    .imageContentPanel__info {
      width: 100%;
      .imageContentPanel__info-inner{
        //max-width: 685px;
        @include width-center(715px, 20px 60px);
      }
    }



    &.imageContentPanel-right{
      .imageContentPanel__image-before {
        order: 2;
        width: 100%;
        padding-left: 40px;
        .imageContentPanel__image {

        }
        &:before{
        }
      }
      .imageContentPanel__info{
        order: 2;
      }
    }

  }

}




@media screen and (max-width: $responsive-600){

  .imageContentPanel{
    .imageContentPanel__info {
      .imageContentPanel__info-inner{
        padding: 20px 40px;
      }
    }
  }

}