
.locationSliderContainer{
  @include width-center(1700px, 0 105px 50px);
  .locationSliderContainer--before{
    position: relative;
    width: 100%;
    &:before{
      content: "";
      @include posa();
      width: calc(100% + 150px);
      height: 400px;
      top: 100px;
      left: -75px;
      z-index: -1;
      background: $white;
      @include border-radius(120px);
      @include shadow-outer();
    }

    .locationSlider{
      position: relative;
      z-index: 1;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        //height: 100%;
        .locationSlider--single{
          float: left;
          width: 100%;
          height: 600px;

          @include border-radius(80px);
          @include bg-cover();
          outline: none;
        }
      }

    }

    .slySliderButton{
      @include posa();
      width: calc(100% + 100px);
      left: -50px;
      z-index: -1;
      i{
        cursor: pointer;
        font-size: 40px;
        color: $lightBlue;
        position: absolute;
        top : 280px;
        &.sly-next{
          left: auto;
          right: 0;
        }
      }
    }

  }
}





@media screen and (max-width: $responsive-1366){

  .locationSliderContainer {
    .locationSliderContainer--before {
      &:before{
        top: 75px;
        height: 350px;
      }
      .locationSlider {
        ul {
          .locationSlider--single{
            height: 500px;
          }
        }
      }

      .slySliderButton {
        i{
          top: 220px;
        }
      }

    }
  }

}




@media screen and (max-width: $responsive-1024){

  .locationSliderContainer {
    padding: 0 75px 50px;
    .locationSliderContainer--before {
      &:before{
        width: calc(100% + 100px);
        left: -50px;
        top: 50px;
        height: 300px;
      }
      .locationSlider {
        ul {
          .locationSlider--single{
            height: 400px;
          }
        }
      }

      .slySliderButton {
        width: calc(100% + 80px);
        left: -40px;
        i{
          top: 185px;
        }
      }

    }
  }

}






@media screen and (max-width: $responsive-768){

  .locationSliderContainer {
    padding: 0 45px 40px;
    .locationSliderContainer--before {
      &:before{
        width: calc(100% + 70px);
        left: -35px;
        top: 30px;
        height: 250px;
      }
      .locationSlider {
        ul {
          .locationSlider--single{
            height: 310px;
          }
        }
      }

      .slySliderButton {
        width: calc(100% + 60px);
        left: -30px;
        i{
          top: 135px;
        }
      }

    }
  }

}





/* Scrollbar */
.common-scrollbar {
  border-radius: 5px;
  width: 100%;
  max-width: 740px;
  margin: 40px auto 20px;
  height: 10px;
  background: $grey2;
  line-height: 0;
  .handle {
    position: relative;
    border-radius: 5px;
    height: 10px;
    top: 0px;
    width: 100px;
    background-image: linear-gradient(to right, $darkBlue, $lightBlue);
    cursor: pointer;
    .mousearea {
      position: absolute;
      top: -9px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }
}