.locationMapContainer{
  width: 100%;
  padding: 20px 0 20px;
  .locationMap{
    iframe{
      width: 100%;
      height: 670px;
      @media screen and (max-width: $responsive-1024){
        height: 400px;
      }
    }
  }
}