
.mobileButtonsContainer{
  width: 100%;
  position: relative;
  display: none;
  @media screen and (max-width: $responsive-760) {
      display: block;
  }
  .mobileButtonsContainer__wrapper{
    @include flex(flex, row, nowrap, ai_center, jc_center);
    background-image: linear-gradient($lightBlue, $darkBlue);
    .mobileButtonsContainer--inner{
      width: 50%;
      padding: 25px 20px;
      text-align: center;
      @include all-color();
      .mobileButtons__icon{
        margin-bottom: 10px;
        i{
          font-size: 30px;
          @include text-shadow();
        }
      }

      a{
        font-size: 14px;
        @include text-shadow();
        @include transition();
        &:hover{
          color: $lightYellow;
        }
      }
    }
  }
}