
.pageTitlePanel{
  .pageTitlePanel__content{
    @include width-center(100%, 180px 30px);
    background-image: linear-gradient( $lightBlue, $darkBlue);
    text-align: center;
    @include all-color();

    h1,h2,h3,h4,h5,h6,p{
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &.pageTitlePanel--image-yes{
    @include bg-cover();
    .pageTitlePanel__content{
      background-image: linear-gradient( rgba(5, 174, 230, 0.8), rgba(9, 29, 125, 0.8));
    }
  }
}



@media screen and (max-width: $responsive-1024){

  .pageTitlePanel {
    .pageTitlePanel__content {
      padding: 120px 30px;
    }
  }

}
