
.popupForm-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: fixed;
  z-index: 99999;
  background: rgba(255,255,255,0.95);
  background-image: linear-gradient( rgba(5, 174, 230, 0.6), rgba(9, 29, 125, 0.6));
  left: 0;
  top: 0;
  width: 100%;
  height: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  &.active {
    height: 100vh;
    visibility: visible;
    text-align: center;
  }



  .popupForm-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    position: relative;
    @include width-center(600px , 40px);
    @include all-color();
    text-align: left;
    &.active {
      /*Shows pop-up content when "active" class is present */
      visibility: visible;
    }

    .closePopup{
      position: absolute;
      cursor: pointer;
      top: 8px;
      right: 8px;
      i{
        font-size: 24px;
      }
    }

    form{
      .wpcf7-not-valid-tip{
        color: $red;
      }
      h4{
        margin-bottom: 12px;
      }
      p{
        margin-bottom: 15px;
      }
      label{
        font-weight: 600;
        color: $lightBlue;
        color: $white;
      }
      & input[type=text],
      & input[type=number],
      & input[type=email],
      & input[type=tel],
      & input[type=password],
      & select,
      & textarea {
        option{
          color: $black;
        }
        padding: 5px 0;
        font-size: 16px;
        font-weight: 500;
        color: $black;
        border-bottom: 2px solid $lightBlue;
        //border-bottom: 2px solid $black;
      }
      & input[type=submit]{
        @include round-button(yellow);
        border: none;
        cursor: pointer;
        min-width: 160px;
        padding: 20px 33px;
        outline: none;
      }

    }

  }


}

