
.servicesFourColumnBoxContainer{
  @include width-center(1505px, 0 60px);
  .servicesFourColumnBox{
    .servicesFourColumnBox_wrapper{
      @include flex(flex, row, wrap, ai_center, jc_center);
      margin: 0 -27px;
      .singleBlueBox{
        width: 25%;
        padding: 0 27px;
        margin-bottom: 42px;
        min-width: 300px;
        .singleBlueBox__content{
          @include flex(flex, column, wrap, ai_center, jc_center);
          @include border-radius(75px);
          background-image: linear-gradient($lightBlue, $darkBlue);
          width: 100%;
          min-height: 355px;
          .singleBlueBox__content--inner{
            padding: 15px;
            width: 100%;
            text-align: center;
            .svgIcon{
              width: 130px;
              height: 65px;
              margin: 30px auto 15px;
              svg{
                max-height: 100%;
                .cls-1,.cls-2, .cls-3, .cls-4{
                  fill: $white !important;
                  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
                  opacity: 1 !important;
                }
              }
            }
            p{
              color: $white;
              font-size: 22px;
              line-height: 32px;
              margin-bottom: 25px;
              font-weight: 400;
              @include text-shadow();
            }
            .buttonContainer{
              a{
                color: $orange;
                margin: 0 auto;
                min-width: 200px;
                padding: 23px 33px;
              }
            }
          }

        }
      }
    }
  }
}



@media screen and (max-width: $responsive-1366){

  .servicesFourColumnBoxContainer {
    .servicesFourColumnBox {
      .servicesFourColumnBox_wrapper {
        margin: 0 -18px;
        .singleBlueBox{
          padding: 0 18px;

        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1024){

  .servicesFourColumnBoxContainer {
    .servicesFourColumnBox {
      .servicesFourColumnBox_wrapper {
        .singleBlueBox{
          width: 33.33%;
          margin-bottom: 30px;
          .singleBlueBox__content{
            min-height: 300px;
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-840){

  .servicesFourColumnBoxContainer {
    .servicesFourColumnBox {
      .servicesFourColumnBox_wrapper {
        .singleBlueBox{
          width: 50%;
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-760){

  .servicesFourColumnBoxContainer {
    .servicesFourColumnBox {
      .servicesFourColumnBox_wrapper {
        .singleBlueBox{
          width: 60%;
          min-width: 340px;
        }
      }
    }
  }

}