
.servicePanelContainer{
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  @include flex(flex, row, wrap, jc_end);
  .servicePanelContainer__wrapper{
    position: relative;
    width: calc(100% - 190px);
    @include flex(flex, row, wrap, jc_end);
    .servicePanelContainer__left{
      width: 47%;
      padding-bottom: 380px;
    }
    .servicePanelContainer__right{
      width: 53%;
      padding-left: 100px;
      .servicePanelContainer__right--inner{
          height: 100%;
        background: $white;
        //@include border-radius-left(200px);
        border-top-left-radius: 200px;
        @include shadow-outer();
        padding: 110px 0 0 150px;
      }
    }
    .servicePanelContainer__bottomBlue-before{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 290px;
      //overflow: hidden;

      &:before{
        content: '';
        @include posa();
        left: 100px;
        top: -40px;
        z-index: -1;
        background-color: $lightBlue;
        background-image: linear-gradient($lightBlue, $darkBlue);
        @include border-radius-left(200px);
        @include shadow-outer();
        opacity: 0.6;
      }
      .servicePanelContainer__bottomBlue{
        @include posa();
        height: 100%;
        top: inherit;
        @include border-radius-left(200px);
        background-color: $lightBlue;
        background-image: linear-gradient($lightBlue, $darkBlue);
        //@include flex(flex, row, wrap, jc_center, ai_center);
        .servicePanelContainer_services{
          width: 100%;
          height: 100%;
          padding: 0 90px 0 135px;
          margin: 0 -15px;
          @include flex(flex, row, nowrap, jc_space_between, ai_center);
            .services-single{
              padding: 0 15px;
              .services-single__inner{
                cursor: pointer;
                padding: 35px 5px;
                position: relative;
                @include transition();
                height: 185px;
                width: 174px;
                @include border-radius(50px);
                background: none;
                text-align: center;
                .svgIcon{
                  width: 45px;
                  height: 45px;
                  margin: 0 auto 15px;
                  svg{
                    max-height: 100%;

                    .cls-1,.cls-2{
                      box-shadow: 0 5px 10px rgba(0,0,0,0.4);
                    }
                  }
                }
                h5{
                  color: $white;
                  line-height: 26px;
                  font-size: 19px;
                  font-weight: 500;
                  @include text-shadow();
                }

                &:hover {
                  background: $white;
                  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
                  svg{
                    .cls-1,.cls-2{
                      fill: $orange;
                    }
                  }

                  h5 {
                    //font-weight: 600;
                    color: $lightBlue;
                    text-shadow: none;
                  }
                }
                .service-link{
                  @include posa();
                }
              }
            }
        }
      }
    }
  }
}


@media screen and (max-width: $responsive-1650){

  .servicePanelContainer {
    .servicePanelContainer__wrapper{
      width: calc(100% - 90px);

      .servicePanelContainer__bottomBlue-before {
        .servicePanelContainer__bottomBlue {
          .servicePanelContainer_services{
            padding: 0 40px 0 85px;
          }
        }
      }

    }
  }

}


@media screen and (max-width: $responsive-1440){

  .servicePanelContainer {
    .servicePanelContainer__wrapper {
      .servicePanelContainer__bottomBlue-before {
        .servicePanelContainer__bottomBlue {
          .servicePanelContainer_services {
            padding:  0 20px 0 65px;
            margin: 0 -12px;
            .services-single {
              padding: 0 12px;
              .services-single__inner{
                padding: 30px 1px;
                width: 165px;
              }
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1280){

  .servicePanelContainer {
    .servicePanelContainer__wrapper {
      width: 100%;

      .servicePanelContainer__left{
        width: 50%;
        padding: 0 20px 70px 60px;
      }
      .servicePanelContainer__right{
        width: 50%;
        padding-left: 50px;
      }
      .servicePanelContainer__bottomBlue-before {
        position: relative;
        height: auto;

        .servicePanelContainer__bottomBlue {
          position: relative;
          //margin: 30px 0;
          @include border-radius-left(0px);
          .servicePanelContainer_services {
            padding:  40px 100px 20px;
            margin: 0 -12px;
            @include flex(flex, row, wrap, jc_space_between, ai_center);
            .services-single {
              padding: 0 12px;
              width: 33.33%;
              margin-bottom: 20px;
              .services-single__inner{
                margin: 0 auto;
                padding: 30px 5px;
                width: 175px;
              }
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .servicePanelContainer {
    .servicePanelContainer__wrapper {

      .servicePanelContainer__right {
        .servicePanelContainer__right--inner{
          padding: 90px 0 0 60px;
        }
      }

      .servicePanelContainer__bottomBlue-before {
        .servicePanelContainer__bottomBlue {
          .servicePanelContainer_services{
            padding: 40px 20px 20px;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .servicePanelContainer {
    .servicePanelContainer__wrapper {

      .servicePanelContainer__left{
        width: 100%;
        padding: 0 60px 10px 60px;
        position: relative;
        z-index: 1;
      }
      .servicePanelContainer__right {
        width: 100%;
        position: relative;
        //&:before{
        //  position: absolute;
        //  height: 300px;
        //  width: 50%;
        //  content: "";
        //  right: 0;
        //  bottom: -3px;
        //  border-top-left-radius: 200px;
        //  @include shadow-outer();
        //  background: white;
        //  opacity: 0.5;
        //}
        .servicePanelContainer__right--inner{
          //padding: 90px 0 0 60px;
          background: none;
          box-shadow: none;
          padding: 0px;
          margin-bottom: 90px;
        }
      }

      .servicePanelContainer__bottomBlue-before {
        .servicePanelContainer__bottomBlue {
          .servicePanelContainer_services{
            //padding: 40px 20px 20px;
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-600){

  .servicePanelContainer {
    .servicePanelContainer__wrapper {

      .servicePanelContainer__left{
        padding: 0 40px;
      }
      .servicePanelContainer__right{
        padding-left: 40px;
        &:before{
          display: none;
        }
      }

      .servicePanelContainer__bottomBlue-before {
        &:before{
          border-top-left-radius: 0px;
          left: 0px;
        }
        .servicePanelContainer__bottomBlue {
          .servicePanelContainer_services {
            .services-single {
              width: 50%;
              .services-single__inner{

              }
            }
          }
        }
      }
    }
  }

}