
.staffSliderContainer{
  @include width-center(1700px, 0 130px 50px);

  .centerContentContainer{
    h1{
      margin-bottom: 30px;
    }
  }
  .staffSliderContainer--before{
    position: relative;
    width: 100%;
    &:before{
      content: "";
      @include posa();
      width: calc(100% + 200px);
      height: 570px;
      top: 50px;
      left: -100px;
      z-index: -1;
      background: $white;
      @include border-radius(120px);
      @include shadow-outer();
    }

    .staffSlider{
      position: relative;
      z-index: 1;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        //height: 100%;
        .staffSlider--single{
          float: left;
          width: 100%;
          outline: none;
          .staffSlider--single__content{
            padding: 0 15px;
            width: 100%;
            @include flex(flex, row, nowrap, ai_center);
            .staff-img{
              position: relative;
              z-index: 1;
              width: 355px;
              height: 440px;
              @include border-radius(80px);
              @include bg-cover();
              @include shadow-outer();
            }
            .staff-info{
              width: calc(100% - 205px);
              margin-left: -150px;
              min-height: 670px;
              @include border-radius(50px);
              background-image: linear-gradient($lightBlue, $darkBlue);
              @include flex(flex, row, wrap, ai_center);

              .staff-info--content{
                padding: 20px 95px 20px 215px;
              }

              @include all-color();
              h1{
                span{
                  font-size: 36px;
                }
              }
            }
          }
        }
      }
    }

    .slySliderButton{
      @include posa();
      width: calc(100% + 100px);
      left: -50px;
      z-index: -1;
      i{
        cursor: pointer;
        font-size: 40px;
        color: $lightBlue;
        position: absolute;
        top : 300px;
        &.sly-next{
          left: auto;
          right: 0;
        }
      }
    }

  }
}




@media screen and (max-width: $responsive-1580){

  .staffSliderContainer {
    .staffSliderContainer--before {
      .staffSlider {
        ul {
          .staffSlider--single {
            .staffSlider--single__content {
              .staff-img{
                width: 310px;
                height: 384px;
              }
              .staff-info{
                width: calc(100% - 160px);
                margin-left: -120px;
                .staff-info--content{
                  padding: 20px 60px 20px 165px;
                }
              }
            }
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1366){

  .staffSliderContainer {
    padding: 0 60px 50px;
    .staffSliderContainer--before {
      &:before{
        width: calc(100% + 70px);
        left: -35px;
      }
      .staffSlider {
        ul {
          .staffSlider--single{

          }
        }
      }
      .slySliderButton{
        width: calc(100% + 50px);
        left: -25px;
      }
    }
  }

}


@media screen and (max-width: $responsive-1024){

  .staffSliderContainer {
    .staffSliderContainer--before {
      &:before{
      }
      .staffSlider {
        ul {
          .staffSlider--single{
            .staffSlider--single__content {
              .staff-img{
                width: 280px;
                height: 340px;
              }
              .staff-info {
                width: calc(100% - 120px);
                .staff-info--content{
                  padding: 20px 35px 20px 150px;
                    h1{
                      margin-bottom: 15px;
                      @include font-percentage(36px, 110%);
                      strong{
                        @include font-percentage(36px, 110%);
                      }
                      span{
                        font-size: 24px;
                      }
                    }
                    p{
                      @include font-percentage(14px, 150%);
                      margin-bottom: 15px;
                      font-weight: 400;
                    }
                }
              }
            }
          }
        }
      }
      .slySliderButton{
      }
    }
  }

}



@media screen and (max-width: $responsive-840){

  .staffSliderContainer {
    .staffSliderContainer--before {
      &:before{
        display: none;
      }
      .staffSlider {
        ul {
          .staffSlider--single {
            .staffSlider--single__content {
              @include flex(flex, column, wrap, ai_center,jc_center);
              .staff-img{
                width: 220px;
                height: 275px;
              }
              .staff-info {
                width: 100%;
                margin-left: 0px;
                min-height: 0px;
                margin-top: -130px;
                .staff-info--content {
                    padding: 140px 35px 20px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-650){


  .staffSliderContainer {
    padding: 0 35px 40px;
    .staffSliderContainer--before {
      .staffSlider {
        ul {
          .staffSlider--single {
            .staffSlider--single__content{
              padding: 0 10px;
              .staff-info {
                .staff-info--content {
                  padding: 140px 30px 20px;
                  h1{
                    margin-bottom: 10px;
                    @include font-percentage(28px, 110%);
                    strong{
                      @include font-percentage(28px, 110%);
                    }
                    span{
                      font-size: 20px;
                    }
                  }
                  p{
                    @include font-percentage(14px, 150%);
                    margin-bottom: 15px;
                    font-weight: 400;
                  }
                  p{
                    font-size: 12px;
                    margin-bottom: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}