
.tabsContainer{
  //display: none;
  height: 0px;
  overflow: hidden;
  width: 100%;
  &.active{
    height: auto;
    //display: block;
  }
}



.tabsButtonContainer{
  @include width-center(1440px, 30px 60px);
  @include flex(flex, row, wrap, ai_center, jc_center);
  //margin-bottom: 20px;
  .tabButton{
    margin: 0 12px;
    .active{
        background-image: linear-gradient($lightYellow, $orange) !important;
    }
  }
}