
.threeBlueBoxPanel{
  margin: 30px 0 30px;
  .threeBlueBoxPanel__wrapper{
    @include flex(flex, row, wrap, ai_start, jc_center);
    padding: 30px 0;
    margin: 0 -20px;
    .singleBlueBox{
      width: 33.33%;
      padding: 0 20px;
      margin-bottom: 25px;
      .singleBlueBox__content{
        @include flex(flex, column, wrap, ai_center, jc_center);
        @include border-radius(75px);
        background-image: linear-gradient($lightBlue, #084b9c , #091b7b);
        width: 100%;
        min-height: 323px;
        .singleBlueBox__content--inner{
          max-width: 260px;
          padding: 35px 15px;
          width: 100%;
          text-align: center;
          .singleBlueBox__content_image{
            margin-bottom: 20px;
            img{
              //@include shadow-outer();
              max-width: 100%;
              max-height: 132px;
            }
          }
          @include all-color($white);
          h4{
            margin-bottom: 12px;
          }
          p{
            color: $white;
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 0px;
            font-weight: 400;
          }
        }

      }
    }
  }
  .buttonContainer{
    a{
      margin: 0 auto;
    }
  }
}



@media screen and (max-width: $responsive-1024){

  .threeBlueBoxPanel {
    .threeBlueBoxPanel__wrapper {
      margin: 0 -15px;
      .singleBlueBox {
        padding: 0 15px;
        .singleBlueBox__content{
            height: 280px;
          .singleBlueBox__content--inner {
            .singleBlueBox__content_image{
              width: 170px;
              margin: 0 auto 15px;
            }
            p{
              padding: 0 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .threeBlueBoxPanel {
    .threeBlueBoxPanel__wrapper {
      padding: 30px 0 10px;
      .singleBlueBox {
        width: 100% ;
        max-width: 450px;
        margin-bottom: 30px;
        .singleBlueBox__content{
          .singleBlueBox__content--inner {
            .singleBlueBox__content_image{
            }
            p{
            }
          }
        }
      }
    }
  }

}