
.twoColumnContent{
  .twoColumnContent__wrapper{
    @include flex(flex, row, wrap, jc_start);
    .singleColumnContent{
      width: calc(50%);
      &:nth-child(1){
        padding-right: 62px;
      }
      &:nth-of-type(2n){
        padding-left: 62px;
      }
    }
  }
}



@media screen and (max-width: $responsive-1024){


  .twoColumnContent{
    .twoColumnContent__wrapper{
      .singleColumnContent{
        &:nth-child(1){
          padding-right: 30px;
        }
        &:nth-of-type(2n){
          padding-left: 30px;
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-840){


  .twoColumnContent{
    .twoColumnContent__wrapper{
      .singleColumnContent{
        width: 100%;
        &:nth-child(1){
          padding-right: 0px;
        }
        &:nth-of-type(2n){
          padding-left: 0px;
        }
      }
    }
  }


}