
.videoPanel {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top: -145px;


  .videoPanel__video {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    min-width: 100%;
  }
  .videoPanel__gradient{
    @include posa();
    background-color: $lightBlue;
    background-image: linear-gradient($lightBlue, $darkBlue);
    opacity: 0.7;
  }
  .videoPanel__content{
    position: relative;
    height: 100%;
    @include flex(flex, row, wrap, ai_center);
    .videoPanel__content-wrapper{
      @include width-center(910px, 140px 30px 20px);
      text-align: center;

      h1,h1,h3,h4,h5,h6,strong,p,span{
        color: $white;
      }

      .buttonContainer {
        a{
          min-width: 220px;
          margin: 0 auto;
        }
      }
    }
  }

  &.videoPanel--overlap-no{
    margin-top: 0px;
    .videoPanel__content{
      .videoPanel__content-wrapper{
        padding: 20px 30px;
      }
    }
  }
}



@media screen and (max-width: $responsive-1280){

  .videoPanel {
    margin-top: 0px;
    height: 590px;
    .videoPanel__content {
      .videoPanel__content-wrapper{
          padding: 20px 30px;
      }
    }
  }

}